[2017-07-06 17:54] krabhishek8260 opened #8 "Support watch calls"

[2017-07-06 17:55] krabhishek8260 opened #9 "Add 201 as valid response for POST calls in the pre-processed swagger"

[2017-07-06 17:56] krabhishek8260 opened #10 "Set a valid Content-Type instead of */* in the swagger to generate the client with correct behavior."

[2017-07-23 11:19] sesispla opened #12 "Exception executing the library with netcoreapp1.1: Could not load file or assembly 'System.Net.Http, Version=4.1.1.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified."
@brendanburns as formal report about the issue found in PR #11

During unit testing found that severals tests, related with KubernetesUserCredentials, where broken reporting a 'Could not load file or assembly System.Net.Http'. Initially thought it was related with my computer, but after adding Travis-CI support found that the problem is also present in trusty environment with dotnet SDK 1.0.4.

He

[2017-07-24 03:30] brendandburns commented on #12
Thanks for the details!

I'll ping the autorest folks and see if I can get them to see what the right solution is here.

[2017-07-24 04:07] brendandburns commented on #12
Actually this was just for build. When I try to run the tests I seem to run into this:

https://github.com/xunit/xunit/issues/1199

[2017-07-24 15:45] sesispla commented on #12
Asking @sergiomcalzada for help.

We've been having a look to netcoreapp2.0 (same result). Then had a look to System.Net.Http 4.3.2 Package, and found that internal version is 4.1.1.1, but the target framework is different:

[code]

Also tried to make a Assembly Redirect, but it makes no sense, since Assembly version is 4.1.1.1 also for package 4.3.2...
[code]
@sergiomcalzada could you please make

[2017-07-24 19:04] sergiomcalzada commented on #12
Hello,

I tested it on windows and I discovered a missed package reference in the test project.
[code]

I created a pull request with some changes that runs all test (except KubernetesClientCredentialsTests PasswordNull)

[code]

[2017-07-25 06:21] sesispla commented on #12
Thank you @sergiomcalzada!

If I am correct, your PR is #14. Travis-CI looks good (two errors not related with this issue left to fix), so let's wait for the Merge to close the issue.

Thx!

[2017-07-25 16:41] sesispla commented on #12
Fixed in PR #14

[2017-07-25 16:41] #12 closed

[2017-07-26 18:03] sesispla opened #16 "Add a code coverage tool"
With a basic unit testing framework working, we definitely need a code coverage tool to guide us during the test process.

[2017-07-28 15:10] sesispla commented on #16
We'll have a hard time here and now... Not found so much alternatives for .NET Core so far:
* OpenCover: Only Windows support
* PartCover: This is the previous version of OpenCover (only Windows also, in maintenance mode)
* NCover: Only Windows support

I'll continue looking for alternatives

[2017-07-28 15:16] sesispla commented on #16
@brendanburns any chance to get help from the .NET Core team?

[2017-07-29 05:41] brendandburns commented on #16
XRef:

https://github.com/Microsoft/vstest/issues/579

[2017-08-12 01:03] sesispla commented on #16
Thx @brendanburns

Looks like support for dotnet test w/ Coverage is not that high in the vsteam backlog... Discussion switched to Microsoft/vstest#981

I'll keep an eye on this.

[2017-08-14 05:34] dmirmilshteyn commented on #10
Is there a workaround for this (other than manually making the changes in the code)? Kubernetes 1.2+ now requires a correct Content-Type header to be set, otherwise the request is rejected - rendering large parts of this library non-functional. Using custom headers fails, because the Content-Type header is overwritten when it is being set to */*.

[2017-08-22 13:12] jpoon opened #18 "Nuget Package"
Any plans to publish a package on Nuget?

[2017-08-24 22:47] allantargino opened #20 "Windows support"
I was able to use the solution on my Windows 10 client without problems.

Steps:
1. I copied my config file to: "C:\Users\myusername\.kube\"
2. After that, I installed openssl from: http://gnuwin32.sourceforge.net/packages/openssl.htm
3. Added "C:\Program Files (x86)\GnuWin32\bin" in my PATH variable
4. Run example. Success :)

![image](https://user-images.githubusercontent.com/13934447/29692132-e

[2017-08-25 22:33] krabhishek8260 commented on #10
We need to change the swagger pre processing scripts to set the right Content-Type in the swagger.

[2017-09-13 18:22] tg123 commented on #20
I think no openssl required on Windows

[2017-09-13 21:34] brendandburns commented on #20
Updated the readme with `choco` instructions. Let me know if you think there is more to add (or feel free to send a Pull Request :)

[2017-09-13 21:34] #20 closed

[2017-09-13 21:48] brendandburns commented on #18
Done:

https://www.nuget.org/packages/KubernetesClient/0.1.0-beta

[2017-09-13 21:50] #18 closed

[2017-09-13 23:21] jpoon commented on #18
Thanks @brendandburns.

[2017-09-14 00:47] allantargino commented on #20
The updated documentation with `choco` is perfect. Thank you @brendandburns !

[2017-09-14 05:15] colemickens opened #24 "kubeconfig handling is overly sensitive"
For example, this is a valid config file that kubectl accepts, but this client can not parse into KubernetesClientCredentials:

[code]

I had to:
1. name the context
2. actually set the active context in the kubeconfig

I'm not sure it's technically a well-formed kubeconfig, but I figure if `kubectl` accepts it, that this client should too.

[2017-09-22 06:55] ArchangelSDY opened #26 "Remove the dependency of OpenSSL executable"
Hi,

I see currently this library depends on an OpenSSL executable to do some key format conversion. We are building a web service so opening a new process seems a bit heavy. Do you have any plan to drop this dependency? Some libraries such as BouncyCastle might help.

Thanks.

[2017-09-22 16:04] brendandburns commented on #26
Until very recently, dotnet core didn't support the right features https://github.com/dotnet/corefx/issues/14284

But this is now supported in dotnet 2.0, we need to write the code...

[2017-09-22 16:50] brendandburns commented on #10
I'll look into fixing this in post-processing...

[2017-09-27 05:38] brendandburns opened #29 "Client can't handle 201/Status responses..."
The Kubernetes Swagger is incomplete, and the AutoRest code is very precise.  It's a bad combination.

Stack trace looks like:

[code]

[2017-09-27 06:55] brendandburns commented on #29
I'm an idiot, this is a duplicate of #9...

[2017-09-27 06:55] #29 closed

[2017-09-28 17:58] krabhishek8260 commented on #26
This has still not been resolved with dotnet core 2.0. The 2.0 release has a new method CopyWithPrivateKey(RSA privatekey) to set the private key but there is no way to create the RSA private ey object from the key file. I confirmed this with .net core team.

[2017-10-11 17:45] tg123 opened #32 "Support lower runtime version netstandard 1.0+ netframework 4.0"
Hi

Is there a plan that this library would support lower dotnet runtime? like:
*  netstandard 1.0
* netframework 4.0

[2017-10-12 17:59] #26 closed

[2017-10-20 03:00] #9 closed

[2017-10-20 03:00] #10 closed

[2017-10-21 12:34] tg123 opened #37 "Code style checker before checking in"
Sadly, C# did not have a `go fmt` yet.
A check tool before checking in is wanted.

the tool should include, but not limit to, those features:
 * naming convention
 * line coding (crlf / lf)
 * utf8 bom
 * run on all platform (linux, mac, windows, ...)

some candidates:
https://github.com/dotnet/codeformatter
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.

[2017-10-23 02:59] brendandburns commented on #32
I don't know what is needed? I'm in favor of supporting as compatible a standard as we can as long as we can get the library to do what we need.

[2017-10-23 03:15] tg123 commented on #32
We want to run this client on `.net45`. Benefit from `netstandard1.3`, it now can target on `net46`.

This issue wants to define the minimal version of netstandard version and netframework version this library support.

in other words: will this library support `net45` or any other lower versions

[2017-10-24 08:45] badounan opened #40 "the kubernetes client corresponds to the Kubernetes version"
I am very pleased to be able to see c# version of the kubernetes client.

But I do not know what version of the corresponds.

Can I use this client when my kubernetes version is 1.6.2?

I have found some issues. The status code of the return interface does not seem to be too right.

[2017-10-26 18:27] #8 closed

[2017-10-26 18:28] brendandburns commented on #40
What nuget package are you using?  This is generated from a 1.8.x Swagger spec, but I believe that it should work correctly with 1.6.2.

Can you send a stack trace for the error you are seeing?

Thanks!

[2017-10-31 03:22] badounan commented on #40
I was using the source code before the realese. The status code is not clear between 200 and 201 when create pod.
My english is poor. I will send a stack trace later.

[2017-11-02 02:52] badounan commented on #40
I got http status code 415 when created pod. Then i changed the content-type to application/json, it became better.
That's why?

[2017-11-03 04:23] brendandburns commented on #40
the 201 vs 200 thing should be fixed at head (and I think in the latest nuget package...)

[2017-11-03 05:10] brendandburns opened #44 "Methods that return ObjectOrStatus don't work..."
This is a general problem with our current Kubernetes Swagger, Create and Delete can return an object or a `Status`, the Swagger isn't set up to handle that properly.  It tries to parse and it dies:

[code]

This is similar to: https://github.com/kubernetes-client/java/issues/86

[2017-11-06 03:05] badounan commented on #40
thank you very much

[2017-11-07 00:03] brendandburns commented on #40
Closing this, please re-open if you run into problems.

[2017-11-07 00:03] #40 closed

[2017-11-07 00:48] firazs opened #48 "API call to submit a deployment gets back HTTP 422 (Unprocessable Entity) error"
I am getting an HTTP 422 (Unprocessable Entity) error for an API call I am making to submit a deployment (json attached, submitting the same json through kubectl works fine), the API call is
k8sClient.CreateNamespacedDeploymentWithHttpMessagesAsync

The only relevant line in the APIServer logs is the following:
I1104 00:08:00.847824       1 wrap.go:42] POST /apis/apps/v1beta1/namespaces/default/de

[2017-11-07 06:14] brendandburns commented on #48
Can you add the body of the Deployment that you sent?

Thanks!

[2017-11-07 06:15] brendandburns commented on #48
fwiw, side conversation indicates that this is because we don't handle `IntOrString` correctly...

[2017-11-07 09:43] tg123 opened #49 "Support attach call"

[2017-11-07 17:01] firazs commented on #48
Attached to original comment

[2017-11-10 19:04] #44 closed

[2017-11-13 20:39] sesispla commented on #37
Maybe [StyleCop.Analyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) is what we are looking for. Not sure if it can work with dotnet/cli, but worth to take a look.

StyleCop is the old guy helping us keep code uniform between developers, in the full Visual Studio/Windows world :)

Some [config examples](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/Conf

[2017-11-13 20:42] sesispla commented on #16
Looks like there is some progress. I'll have a look ASAP and see if is possible to add coverage.

[2017-11-14 05:33] tg123 commented on #37
I will have a look too.

I am porting some tools to .net core

https://github.com/tg123/codeformatter
https://github.com/tg123/editorconfig-core-net

and working on a .net core version of eclint to combine those tools together.

[2017-11-14 06:40] #24 closed

[2017-11-15 23:53] dbarentine opened #55 "Dependency conflicts with Microsoft.Rest.ClientRuntime 3.0.3"
I've tried to install KubernetesClient 0.2.0-beta via nuget but I get the following error:
 Starling.NR -> KubernetesClient 0.2.0-beta -> Microsoft.Rest.ClientRuntime (>= 3.0.3)
 Starling.NR -> Microsoft.AspNetCore.All 2.0.3 -> Microsoft.Extensions.Configuration.AzureKeyVault 2.0.0 -> Microsoft.Azure.KeyVault 2.3.2 -> Microsoft.Rest.ClientRuntime (>= 2.3.8 && < 3.0.0).

I'm currently running versi

[2017-11-16 05:29] tg123 commented on #48
seems need a hack to autorest, I am trying to give a solution.

[2017-11-16 05:32] tg123 commented on #55
I think it is a best practice to depend on a listed version

[2017-11-16 05:41] brendandburns commented on #48
@tg123 see: https://github.com/kubernetes-client/gen/pull/30

You may be able to do something similar for C#

[2017-11-16 05:48] tg123 commented on #48
@brendandburns thanks
seems autorest template does not support add user defined jsonconverters, I am searching for workarounds.

[2017-11-21 06:20] #55 closed

[2017-11-21 06:21] #48 closed

[2017-11-30 15:55] qmfrederik opened #58 "Error messages are lost in HTTP 400 responses"
When requests are rejected by Kubernetes, the server responds with HTTP 400. The body contains a JSON object with additional error information. This information is lost in the C# client.

Here's an example:

[code]

got me:

[code]

which doesn't help me debug my problem.

Fiddler reveals the server did return an error message:
[code]

It would be great if the C# API could surface that error messa

[2017-11-30 16:00] qmfrederik commented on #26
@krabhishek8260 Did you look at Bouncy Castle? I'm pretty sure you can use Bouncy Castle to create the RSA private key; you can then pass that info to CopyWithPrivateKey.

[2017-11-30 16:04] tg123 commented on #58
cloud you please show your sever version?

[2017-11-30 16:11] qmfrederik commented on #58
Sure, it's AKS on Azure:

[code]

[2017-11-30 16:15] qmfrederik opened #59 "Simplify loading models from YAML files"
I've realized that trying to generate all my Kubernetes objects in C# code may be a bit too cumbersome and loading them from YAML instead may be a better way.

So I ended up with something like this:

[code]

While this works, it would be neat if there was an easier way to do this; say:

[code]

[2017-11-30 18:23] qmfrederik commented on #58
Observed the same for HTTP 422, this results in:

[code]

whereas the server gave more info:

[code]

The error message from Kubernetes is valid, it's just that the Exception which surfaces in .NET doesn't contain all the information the server did send back

[2017-11-30 20:58] tg123 commented on #58
did you mean that client should throw an exception with detailed message?

[2017-12-01 09:32] qmfrederik commented on #58
Yes, exactly.

[2017-12-01 16:26] qmfrederik opened #62 "ConnectGetNamespacedPodExec fails with 'Upgrade Required'"
I'm trying to use the C# client to execute a command in a container in a pod.
I assumed that `ConnectGetNamespacedPodExec` would allow me to execute a command and return the standard output and error output.

That doesn't seem to work, though: calls to `ConnectGetNamespacedPodExec` and `ConnectPostNamespacedPodExecAsync` both fail with an exception:

[code]

The server returns the following data:

[2017-12-01 16:27] qmfrederik commented on #62
As a sidenote, I'm guessing this fails because Kubernetes wants to upgrade this to WebSocket calls. I'd be fine for me if I have access to raw `Stream` objects which allow me to write to standard input and read from standard output and error output.

[2017-12-01 18:22] tg123 commented on #62
I am doing websocket relate calls
a little busy recent days

[2017-12-04 15:56] qmfrederik opened #64 "API surface for exec, attach & port forward clients"
Placeholder to split off the design conversation from #63: what API should the C# client expose for interacting with the exec, attach & port forward endpoints?

[2017-12-04 15:59] qmfrederik commented on #64
Things I captured:
- Expose `Stream` objects for the various streams (stdin/stdout/stderr).
- Perhaps a more user-friendly API which gives you a Console-like interface (similar to the `Console` object in C#)
- Expose the raw `WebSocket` to provide flexibility to power users; they can consume the WebSocket in any way they see fit

[2017-12-04 20:07] qmfrederik commented on #64
@tg123 Based on the discussion in #63, I understand that you prefer something similar to the Java client, where you can get the individual streams.

I guess an API could look like this:

[code]

and I guess you could expect to use it like this:

[code]

I've worked on such constructs in .NET in a different setting (demuxing video streams) and I haven't found an elegant way to actually implement th

[2017-12-07 01:03] philliphoff opened #67 "IOException when deleting config file post-load"
On Windows, deleting the Kubernetes configuration file immediately after `KubernetesClientConfiguration.BuildFromConfigFile(FileInfo)` will likely result in an `IOException` with error message:

[code]

The issue is due to `KubernetesClientConfiguration.LoadKubeConfig(FileInfo)` opening a `Stream` from the `FileInfo` for deserialization but never disposing of it.  This leaves the file in an open s

[2017-12-07 04:05] tg123 opened #69 "support log of pod"

[2017-12-08 17:17] philliphoff opened #70 "Signed assemblies?"
As the library assemblies are unsigned, they cannot be referenced by assemblies that are (required to be) signed, which then excludes its use in certain applications.

It'd be great to offer a signed flavor of the assemblies.

(Alternatively, one could fork the repo, build, and sign a forked version, but that's a good deal of overhead to take on.)

[2017-12-08 17:24] philliphoff opened #71 "JSON deserialization of non-JSON content in proxy-related methods"
The generated methods for the proxy-related REST calls (e.g. `ProxyGETNamespacedServiceWithHttpMessagesAsync()`) expect responses to be JSON-serialized strings; this is often not the case (e.g. when a web site is being proxied and raw HTML, CSS, and JavaScript are returned).

Those proxy-related methods should probably just pass through the raw response content.

[2017-12-11 04:25] brendandburns commented on #70
@philliphoff I'm relatively new to packaging libraries... Any pointers on how to produced a signed package?

Is it this:
https://blog.nuget.org/20170914/NuGet-Package-Signing.html

[2017-12-11 04:27] brendandburns commented on #62
@qmfrederik Yeah, I think that in general being able to split the calls like this would be a good idea.

It requires an upstream AutoRest change...

[2017-12-11 04:33] brendandburns commented on #58
@qmfrederik See this related issue (and approach) here:

https://github.com/Azure/autorest/issues/931#issuecomment-291540997

I'm going to close this, as it's possible, and anything bigger requires substantive changes to AutoRest [and aren't required imho, given that you can get the Content]

[2017-12-11 04:33] #58 closed

[2017-12-11 04:34] brendandburns commented on #62
I'm going to close this, since the overall error is expected and we're working on WebSockets support elsewhere.

If someone wants to open an issue (here or with AutoRest) about splitting the generated code, that works for me...

[2017-12-11 04:34] #62 closed

[2017-12-11 17:20] philliphoff commented on #70
It's less about producing a signed NuGet *package* (though that's probably not a bad idea) but having signed *assemblies* within the package.

This is probably a good starting point: [https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-sign-an-assembly-with-a-strong-name](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-sign-an-assembly-with-a-strong-name)

A c

[2017-12-11 17:55] brendandburns commented on #70
It seems like strong-naming isn't really a best practice any more?

https://www.pedrolamas.com/2016/03/01/still-strong-naming-your-assemblies-you-do-know-its-2016-right/

Again, I'm not an expert here...

________________________________________
From: Phillip Hoff <notifications@github.com>
Sent: Monday, December 11, 2017 9:20 AM
To: kubernetes-client/csharp
Cc: Brendan Burns; Comment
Subject: Re:

[2017-12-11 19:00] philliphoff commented on #70
I wouldn't call myself an expert either.  That said, there *were* some very passionate arguments within the .NET community in recent years for the end of strong-named signed (library) assemblies, but I'd disagree that that has become "best practice".  There are valid arguments for not signing assemblies, but I'd argue that they've generally been mitigated through more deliberate versioning schemes

[2017-12-11 20:30] brendandburns commented on #70
Thanks for the feedback, I'll try to get it up and running (this is the first time I've done one of these....)

--brendan

________________________________
From: Phillip Hoff <notifications@github.com>
Sent: Monday, December 11, 2017 11:00:53 AM
To: kubernetes-client/csharp
Cc: Brendan Burns; Comment
Subject: Re: [kubernetes-client/csharp] Signed assemblies? (#70)

I wouldn't call myself an expert

[2017-12-16 23:22] cadamantidis opened #73 "V1Status object returned from DeleteNamespacedDeployment() empty"
Hey all,

I have found an interesting issue that I'm not sure is an incorrect use of the library or a bug.

When I call `DeleteNamespacedDeployment()` the `V1Status` object that is returned has null for all of the attributes if the action was successful.  If the action was a failure, you get a `Microsoft.Rest.HttpOperationException` with a response that looks like it contains a `V1Status` object.

[2017-12-17 06:19] tg123 commented on #73
please have a look at
https://github.com/kubernetes-client/csharp/blob/master/examples/namespace/Namespace.cs#L72

you should call ObjectView

[2017-12-18 18:25] brendandburns commented on #71
Yeah, this is tricky to do correctly. It will be improved when Port forwarding is supported.

[2018-01-04 14:15] discosultan commented on #70
Here's another reference to relevant information which brings out pros and cons of signing:

https://github.com/dotnet/corefx/blob/5b186f1857c1af98057cd0f34e93169f280bb76c/Documentation/project-docs/strong-name-signing.md

[2018-01-07 21:18] RouR opened #78 "Can you explain how to work this client?"
I have some config

[code]

And I write this code, dokerize it and deploy to cluster with  env KUBERNETES_SERVICE_HOST="kubernetes.default.svc.cluster.local" KUBERNETES_SERVICE_PORT="443"

[code]

And I get

[2018-01-08 03:59] tg123 commented on #78
seems `PatchNamespacedDeployment` is not working as except, I will have a look at that api.

[2018-01-09 15:27] dring1 opened #79 "Azure Function: The client certificate credentials were not recognized"
Running an Azure Function locally will result in the kubernetes client successfully communicating with the agents a given k8s cluster on azure.

When running the function on the azure functions environment I receiving the follow stack trace

[code]

The only difference from azure function local dev to production is how the environment variables container the certs are ingested.

I have hardcoded t

[2018-01-10 07:22] tg123 commented on #79
cloud please show your workaround. I might help to find a better way.

[2018-01-10 14:38] dring1 commented on #79
The work around is to use a dotnet console app and deploy that instead of using azure functions.

Not ideal but should work.

[2018-01-10 16:56] dring1 commented on #79
updated stacktrace with moreinfo

[2018-01-11 06:41] brendandburns commented on #78
@tg123 I think this is the same underlying issue as this:

https://github.com/kubernetes-client/java/issues/127

[2018-01-11 06:42] brendandburns commented on #49
@tg123 this is now working, right?

[2018-01-11 18:56] tg123 commented on #49
not yet, need to wrap channel websocket to friendly calls

[2018-01-12 19:48] tg123 commented on #78
@RouR sorry for the late reply, just another busy week

Your approach is right and there is a tricky thing in generated client:
"will serialize all anonymous into {}"
due to default SerializationSettings

[code]

workarounds might be:
 * change default SerializationSettings
 * use <https://github.com/aaxelm/JsonPatch.NetStandard> to generate the json patch object

here is my tested using JsonPatch

[2018-01-12 20:01] tg123 commented on #79
are you using `certificate-authority-data` (base64) or `certificate-authority` (file path) to pass the cert to k8sclient ?

[2018-01-12 22:20] dring1 commented on #79
Just a raw string in the environment variable.
Azure recommends using their SSL storage as means to get certs into the
azure function

On Fri, Jan 12, 2018 at 3:38 PM Boshi Lian <notifications@github.com> wrote:

[2018-01-13 13:53] RouR commented on #78
Hmm,
As I see Headers is forced to "application/json-patch+json; charset=utf-8", but it`s work (I check in debugger headers)

I use Microsoft.AspNetCore.JsonPatch instead of https://github.com/aaxelm/JsonPatch.NetStandard
with this code:

[code]

The type **Appsv1beta1Deployment** is not defined in NuGet-package KubernetesClient 0.3.0-beta
Please, update NuGet
Thank`s for the help!

[2018-01-14 06:40] shaneqld opened #80 "NuGet package does not support .NET Standard 4.5.2"
When attempting to add the package in a .NET Framework 4.5.2 project, nuget reports the following error:

Could not install package 'KubernetesClient 0.3.0-beta'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, c

[2018-01-14 07:37] shaneqld opened #81 "README instructions mistake"
There is a small mistake in README.md.  Specifically where it says:

[code]

`csharp.settings` is located in $REPO_DIR/csharp, but in the example we are in $REPO_DIR/csharp/src.  The last line of this block should instead say:

[code]

Also:

- it might be helpful to list dependencies as: git, nodejs >= 7.10.0, docker
- it might be helpful to state that the instructions are intended to be run on a

[2018-01-14 15:43] tg123 commented on #80
#32

4.5 should work well but not yet tested

[2018-01-14 15:51] tg123 commented on #81
the file in doc might referrer to any supported format in https://github.com/kubernetes-client/gen

c# is now support all platform, yet, `gen` only works on linux

[2018-01-15 08:12] shaneqld commented on #81
Specifically referring to https://github.com/kubernetes-client/csharp/blob/master/README.md

The instructions are incorrect (as per above).  Other comments are ideas to make it easier to understand.

[2018-01-15 08:15] shaneqld commented on #80
.NET 4.6 does not work from the public NuGet package.  Error below:

Could not install package 'KubernetesClient 0.3.0-beta'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2018-01-15 08:20] tg123 commented on #80
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

sorry please try net461, 3.0-beta complies with netstandard 1.4

[2018-01-15 08:31] shaneqld commented on #80
Thanks, was just reading about that.  Perhaps add this to the README.

60 packages needed to get this installed.  That's a lot! :)

Any plans to make a vanilla .NET Framework version that does away with .NET Standard?

[2018-01-15 09:02] tg123 commented on #80
I will try to prune dependencies and make multi-target working

[2018-01-18 00:28] allantargino opened #82 "KubernetesClientConfiguration could support loading from string"
My team and I are working in k8s automation solution, where we will administrate several different k8s clusters using k8s API.

For that, we store every config yaml file in our databases in a text field (due to limitations on store it as an object).
When instantiating `K8SConfiguration`, it would be much better load it directly as a string into the constructor.

[2018-01-18 15:18] tg123 commented on #69
fixed by #75

[2018-01-18 15:18] #69 closed

[2018-01-22 15:54] tg123 commented on #79
seems Azure function/netframework did not work well with tls 1.1+

[2018-01-23 01:18] dring1 commented on #79
This was root caused as an azure related issue;
Must use the X509 Store to consume an ssl cert and use it against an Kubernetes cluster.

[code]

[2018-01-23 01:18] #79 closed

[2018-01-23 06:49] tg123 commented on #79
Thanks for the update

Cert store should be supported

[2018-01-23 16:42] allantargino opened #87 "SDK is triggering HttpOperationException when creating any entity."
My team and I was trying to create a namespace using the following code:

[code]

We're using Kubernetes 1.7.7, hosted on Azure (ACS).
The Kubernetes API is able to create the namespace with success, returning a HTTP status of 202 (CREATED).

Unfortunately,  on line 2235 of [Kubernetes.cs](https://github.com/kubernetes-client/csharp/blob/master/src/generated/Kubernetes.cs), it contains the followi

[2018-01-23 16:44] allantargino commented on #87
@viniciussouza

[2018-01-23 18:02] tg123 commented on #87
seems bug in swagger.json

I regenerate the sdk with 1.9.2

![image](https://user-images.githubusercontent.com/170430/35292014-285917be-00aa-11e8-94f9-b0917fa24f0c.png)

[2018-01-23 18:03] tg123 commented on #87
gen code is on https://github.com/kubernetes-client/gen you can also generate sdk with those tools

[2018-01-26 05:57] #78 closed

[2018-01-26 06:02] #71 closed

[2018-01-26 11:43] allantargino commented on #87
Thanks, @tg123 !
I didn't know the gen code was there as well. Thanks

[2018-01-27 16:36] allantargino commented on #87
fixed by #88

[2018-01-27 16:36] #87 closed

[2018-01-27 22:58] qmfrederik opened #90 "Update the NuGet package"
The package on NuGet is about two months old and quite some fixes went into master.

Time to release 0.4.0-beta to NuGet? 😄

[2018-02-01 01:21] #82 closed

[2018-02-02 07:29] brendandburns commented on #90
Done!

https://www.nuget.org/packages/KubernetesClient/0.4.0-beta

[2018-02-02 07:29] #90 closed

[2018-02-02 08:37] qmfrederik commented on #90
Awesome, thanks!

[2018-02-04 12:11] mac2000 opened #91 "BuildConfigFromConfigFile explanation missing"
Hello, I'm trying to run code copied from examples but got `Unhandled Exception: k8s.Exceptions.KubeConfigException: User: X does not have appropriate auth credentials in kubeconfig`

Can not find instructions in readme how should we run code locally agains google cloud kubernetes

I do have `~/.kube` and commands like `kubectl get pods` are working as expected

[2018-02-04 13:01] tg123 commented on #91
#24
cloud you please paste your config for debug?

the sdk should have same behavior as kubectl

[2018-02-04 14:05] mac2000 commented on #91
do you mean `.kube/config` here you go:

[code]

I just replaced some thing that might be important, hope that helps. Feel free to ask me for any additional information if needed

[2018-02-04 16:38] tg123 commented on #91
auth-provider is not supported at the time.

😢

[2018-02-04 16:51] tg123 commented on #91
by the way
you may want try a workaround:
pass Token filed to sdk

[2018-02-04 17:14] mac2000 commented on #91
@tg123 may you please describe it it more details? it seems like it might be a good addition to readme

[2018-02-04 18:49] tg123 commented on #91
@mac2000 did not tested

get token from <https://cloud.google.com/docs/authentication/production#obtaining_credentials_on_compute_engine_kubernetes_engine_app_engine_flexible_environment_and_cloud_functions> first

create a client from `KubernetesClientConfiguration { Host = gke_cluster ,  AccessToken = token above }`

[2018-02-05 07:49] mac2000 commented on #91
Arghhh, it was painful

So from [docs](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#without-kubectl-proxy) I we able to get default access token, so even do not need any google auth stuff

But then got macos related [troubles](https://github.com/dotnet/corefx/issues/9728) with ssl verification

And only then I have realized what it should be done, so if you are running k

[2018-02-08 10:12] mgernand opened #93 "YamlException when using BuildConfigFromConfigFile()"
Hi folks,

I was just testing out the .NET Client and got stuck just at the beginning. A YamlException is thrown when I use `KubernetesClientConfiguration.BuildConfigFromConfigFile()`:

**Message**:
`Property 'as-user-extra' not found on type 'k8s.KubeConfigModels.UserCredentials'.`

**StackTrace**:
[code]

I am using the client on a Mac and I am trying to connect to my local Minikube instance.

*

[2018-02-13 14:43] #91 closed

[2018-02-15 13:53] qmfrederik commented on #93
#94 tries to fix this.

As a workaround, you can either remove the `as-user-extra` line from your kubeconfig file on disk, or read the file as a string, do a `string.Replace("as-user-extra", "#as-user-extra")` and pass the config as a string.

[2018-02-16 06:33] #93 closed

[2018-02-16 06:34] #81 closed

[2018-02-16 06:34] brendandburns commented on #67
closing since #68 was merged...

[2018-02-16 06:34] #67 closed

[2018-02-16 06:35] brendandburns commented on #80
Closing this since #86 was merged.

[2018-02-16 06:35] #80 closed

[2018-02-21 09:15] writeameer opened #96 "macOS High Sierra and SSL Problems"
Hi there Everyone,

I'm on OSX targeting netcoreapp2.0 and trying to make any API call:

[code]

Generates this error:

[code]

It looks like it might get sorted in .NET Core 2.1 according to [this](https://github.com/dotnet/corefx/issues/27000). In the meantime, I ended up creating a custom DelegatingHandler and passing it in while instantiating a new Kubernetes object:

[code]

...and that works

[2018-02-21 16:21] tg123 commented on #96
maybe you can use non https proxy instead

[2018-02-22 07:04] writeameer commented on #96
Thank you  @tg123 for responding and appreciate the help !

[2018-02-22 07:05] #96 closed

[2018-02-27 03:11] VenkateshSrini opened #97 "Unable to connect to AKS cluster"
Hi,
I'm using the Azure AKS cluster for Kubernetes. I find that using the SDK when I connect I get the below error

  HResult=0x80072EE7
  Message=An error occurred while sending the request.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Tas

[2018-02-27 05:23] tg123 commented on #97
The server name or address could not be resolved

means that dns cannot resolve your domain name
cloud you please paste output of

nslookup yourhost

[2018-02-27 06:02] VenkateshSrini commented on #97
Hi,
I got the below response
Server:  UnKnown
Address:  fe80::261f:a0ff:fec4:7109

Non-authoritative answer:
Name:    ifttt-demo-kube-faas-rg-eea6d7-7d1fd319.hcp.eastus.azmk8s.io
Address:  52.186.82.246

But if you could see I'm able to execute kubectl commands without any issues
also https://ifttt-demo-kube-faas-rg-eea6d7-7d1fd319.hcp.eastus.azmk8s.io is very much accessible from browser

[2018-03-02 03:55] VenkateshSrini commented on #97
@tg123 ,
Any guidance for me on the same ?

[2018-03-02 05:28] tg123 commented on #97
@VenkateshSrini  I tested using your domain name I cannot reproduce your issue
are you using any proxy in your .net program?

[2018-03-02 05:36] VenkateshSrini commented on #97
@tg123,
I'm still not able to connect. I'm using a. Net core web api app. Can you please share the code that you had used to test. I will try to see where the difference is. Alternatively I can also check-in my code to git hub and share you a link. Please tell me which will work for you

[2018-03-02 05:53] tg123 commented on #97
[code]

[2018-03-03 04:51] VenkateshSrini commented on #97
@tg123
1) Can you please tell me what is the mistake I'm doing in the attached code. I still get the above error
2) Even If I give the correct Cert data , key and access token I'm still getting unauthorized error with AKS. The same works with kubectl . please hel
[ReadKubeLogs.Service.zip](https://github.com/kubernetes-client/csharp/files/1777110/ReadKubeLogs.Service.zip)

[2018-03-04 06:30] tg123 commented on #97
I will check it later I am on travel

2018年3月3日(土) 12:51 VenkateshSrini <notifications@github.com>:

[2018-03-04 08:30] VenkateshSrini commented on #97
@tg123,
I have found the issue. It was with wrong access token. Thanks for helping me. Happy and successful travel to you

[2018-03-04 08:30] #97 closed

[2018-03-08 09:02] felixfbecker commented on #32
I would like to use this with targeting .NET Standard 2.0
[code]

[2018-03-08 09:11] tg123 commented on #32
please update to higher version > 0.3.0-beta

[2018-03-08 09:28] felixfbecker commented on #32
Ah, that fixed it. Thanks.

[2018-03-09 22:19] RouR commented on #78
Hi!
I took the latest version today.
I see breaking changes - PatchNamespacedDeployment require V1Patch object.

Can you explain how to use it? Or provide some example - how to change label in deployment specification?

[2018-03-10 01:34] tintoy commented on #64
Hi - I was building a Kubernetes API client that does this, but have just discovered that there's an official client (i.e. yours) so I'm hoping to contribute anything I've done that might be useful.

FWIW, here's how I handled Exec (but I agree that an `ExecClient` on top of it would be more useful).

https://github.com/tintoy/dotnet-kube-client/blob/77fb1004e2451af874403a18d7b6b6c69e3124be/src/Ku

[2018-03-10 01:34] tintoy commented on #64
(I hadn't added limits for buffer capacity yet but that was next on my list)

[2018-03-10 17:40] tg123 commented on #78
using Microsoft.AspNetCore.JsonPatch;

[code]

[2018-03-10 18:06] tg123 commented on #64
Why not send a PR

[2018-03-10 19:05] tintoy commented on #64
Can do :)

[2018-03-11 00:01] RouR commented on #78
Thanks!

[2018-03-11 04:39] tintoy opened #100 "Consider using IObservable to expose event streams?"
Hi - hoping to start a discussion here :)

I've found the use of `IObservable<T>` to be really useful when exposing streaming or "push"-like behaviour from API clients (especially when combined with Rx / `System.Reactive`). I appreciate that this client is maturing fast and probably already has existing users, but do you folks see any room in the design for this (beyond the existing pure-event-han

[2018-03-11 18:52] tintoy opened #101 "Common base class for Kubernetes resource models"
Hi.

I was wondering if it might be useful to have a shared base class for models representing Kubernetes resources / resource-lists (the script I wrote to generate models from Swagger does this, and I imagine autorest can do something similar).

![modelhierarchy](https://user-images.githubusercontent.com/1646284/37257134-feee9456-25b8-11e8-82e4-b4f8498999e9.jpg)

 My existing client library does

[2018-03-11 19:36] tintoy opened #102 "WebSockets - custom validation of server certificate"
Hey, @brendanburns, as previously discussed in [tintoy/dotnet-kube-client#6](https://github.com/tintoy/dotnet-kube-client/issues/6#issuecomment-371984010) I'm happy to contribute my WebSocket functionality (which includes support for custom verification of the server certificate).

But I figured it'd be worth discussing here first :)

The big gotcha (currently) is that it has a dependency on `netc

[2018-03-11 19:38] tintoy commented on #102
So it might be worth placing in a separate package (as I did in my client) that [extends the client](https://github.com/tintoy/dotnet-kube-client/blob/develop/src/KubeClient.Extensions.WebSockets/ResourceClientWebSocketExtensions.cs#L56) to add operations that are WebSocket-dependent.

[2018-03-11 19:39] qmfrederik commented on #64
@tintoy Yeah, faulting readers when buffers fill up too fast seems to make a lot of sense. Regarding the producer/consumer-problem, I was a bit surprised at first there wasn't a "reference" implementation of that in the .NET ecosystem. Stephen Cleary has published one recently; see https://github.com/StephenCleary/ProducerConsumerStream. May be worth a looking how he tackled the problem and prehap

[2018-03-11 19:51] tintoy commented on #64
That looks nice and simple.

Might be worth importing that implementation wholesale; I have a [working equivalent](https://github.com/tintoy/dotnet-kube-client/blob/abd3fa8fe29885473bb14b6284989a1a1c766f11/src/KubeClient.Extensions.WebSockets/Streams/K8sMultiplexedReadStream.cs#L269), but it's a lot more complex.

[2018-03-11 19:55] tintoy commented on #102
CC: @qmfrederik

[2018-03-11 20:00] tintoy commented on #101
Here's an example of where it's useful:

https://github.com/DimensionDataResearch/glider-gun-v2/blob/master/src/GliderGun.Actors/Events/JobEvents.cs
https://github.com/DimensionDataResearch/glider-gun-v2/blob/master/src/GliderGun.Actors/Events/ResourceEventBus.cs

[2018-03-11 20:08] tintoy commented on #100
And a client-side usage example:

https://github.com/DimensionDataResearch/glider-gun-v2/blob/9664c49b5a4bba59228beb23aaca1b8550a0aa61/src/tools/DeployRemoteNode/Program.cs#L116-L177

[2018-03-11 20:10] tintoy commented on #100
CC: @qmfrederik @brendanburns

[2018-03-11 20:12] qmfrederik commented on #102
It's a pitty the WebSockets implementation was not complete in .NET Core 2.0 but the good news is it is being fixed in 2.1.

My 2 cents would be that it's:
* Not a problem to depend on netcoreapp2.1; I think people will move to netcoreapp2.1 fairly fast. The library can multitarget 2.0 and 2.1 with a warning that if you want to use WebSockets, you need 2.1.
* Worth getting the WebSocket fixes in C

[2018-03-11 20:20] tintoy commented on #102
Heh. I've been following an issue in the corefx repo (can't find it right now) where they've been looking at implementing the validation callback. From memory, I think they'd like to get it in for 2.1 (so here's hoping).

Yeah that's a good point, I hadn't thought of that - can always use `#if` / `#endif` to keep the WebSockets code available in 2.1 only.

Only other wrinkle is that, by targeting

[2018-03-11 20:21] qmfrederik commented on #102
I think it's dotnet/corefx#12038 you're referring to.

[2018-03-11 20:23] tintoy commented on #102
Yep, thanks! Edited :)

[2018-03-11 20:23] tintoy commented on #102
https://github.com/dotnet/corefx/issues/12038#issuecomment-370796142

[2018-03-11 20:24] qmfrederik commented on #102
... that issue is marked as "api-ready-for-review"; so the next step would be for the API review team to give a formal go for the API. You may want to ping @karelz to figure out what the next steps are (i.e. when a review is planned). Once the API is greenlighted you can file a PR.

[2018-03-12 04:13] tintoy commented on #64
Here's an idea for working with exec-style text channels (e.g. STDIN / STDOUT / STDERR):

[code]

It'd allow you to do something like:

[code]

[2018-03-12 06:02] karelz commented on #102
We meet every & steam API reviews every Tuesday (see [list](https://github.com/dotnet/apireviews)). However, technically speaking, we are API frozen for .NET Core 2.1 for last week. If you can chime in on importance of the scenarios (and how mainline they are), we might try to get it in ... otherwise post-2.1 if that works.

[2018-03-12 06:08] tintoy commented on #102
Hi - obviously I'm biased, but... 😉

Being able to control validation of the server certificate is pretty important for Websockets (at least the way we use them). Otherwise they're unusable with servers that have self-signed certificates unless the user goes through the rigmarole of trusting the CA certificate (needs admin privileges on Windows from memory and probably on Linux too).

Having said

[2018-03-12 06:09] tintoy commented on #102
Is there someplace in particular I should be chiming in? 😊

[2018-03-12 06:15] tintoy commented on #102
@karelz oh, and I suspect the same issue will bite anyone using SignalR (over WebSockets) for inter-server communication (i.e. with the managed `HubConnection` client) with self-signed certificates. As mentioned above, there are workarounds available but they're pretty ugly.

[2018-03-12 06:26] tintoy commented on #102
Relevant issue for SignalR: https://github.com/aspnet/SignalR/issues/1389#issuecomment-363689851

[2018-03-12 17:21] brendandburns commented on #102
Personally, I'd love to see this in 2.1, but regarding the general issue, I think that supporting DotNet standard framework is important, so let's see what we can do with conditionals/extensions.

My proposal would be:

1) Requiring net-core 2.1 seems fine. There's no reason for someone not to upgrade

2) Enabling net-standard (at the expense of this funcitonality) is also desirable.

And of cours

[2018-03-12 19:47] tintoy commented on #102
Ok, I'll work up a PR then :)

[2018-03-12 20:31] karelz commented on #102
@tintoy please make sure the API is first approved in CoreFX (mainly to avoid wasting your time). We will see if it can get it 2.1, or not ...

[2018-03-12 20:57] tintoy commented on #102
Ok, PR is just about ready to go, but I'm having a little trouble with the existing tests for WebSockets.
Are they expecting me to have a real server running locally for them to connect to? If so, I have a mock WebSocket server I wrote for my own client that might be useful:

https://github.com/tintoy/dotnet-kube-client/blob/develop/test/KubeClient.Extensions.WebSockets.Tests/WebSocketTestBase.cs

[2018-03-12 21:05] brendandburns commented on #102
switching to a Mock sounds like a good idea...

Thanks!
--brendan

________________________________________
From: Adam Friedman <notifications@github.com>
Sent: Monday, March 12, 2018 1:57 PM
To: kubernetes-client/csharp
Cc: Brendan Burns; Comment
Subject: Re: [kubernetes-client/csharp] WebSockets - custom validation of server certificate (#102)

Ok, PR is just about ready to go, but I'm having a

[2018-03-12 21:07] qmfrederik commented on #102
@tintoy are you talking about a PR to corefx or kubernetes-client/csharp? If it's for corefx, I think you're better off commenting on the issue in corefx and adding the [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) to the loop - say davidsh, Priya91 or wfurt and probably stephentoub as well.

[2018-03-12 21:09] tintoy commented on #102
@qmfrederik, sorry, I meant kubernetes-client/csharp.

None of these tests seem to create a server (although I could be missing something obvious):

https://github.com/kubernetes-client/csharp/blob/master/tests/Kubernetes.WebSockets.Tests.cs

[2018-03-12 21:14] tintoy commented on #102
Here's a diff of the work so far:

https://github.com/kubernetes-client/csharp/compare/master...tintoy:feature/websockets

Had to make a couple of tweaks to the `WebSocketBuilder` design (now _slightly_ different between `netstandard1.4` and `netcoreapp2.1` versions) because we can't simply construct a ClientWebSocket and call `ConnectAsync` anymore. But that's only visible if you target `netcorea

[2018-03-12 21:16] qmfrederik commented on #102
@tintoy Correct, none of the unit tests hit the network. The idea behind that was that:
- the actual networking code lives in corefx and doesn't need to be (unit) tested in kubernetes-client/csharp;
- the responsibility of kubernetes-client/csharp is invoking the WebSockets API correctly so that's what's being tested (via the WebSocketBuilder class).

If you want to hit a server (and run integrati

[2018-03-12 21:19] qmfrederik commented on #102
@tintoy That diff looks good - I like the fact that you can hide the complexity in the WebSocketBuilder!

That said, are you sure you can include the dotnet/corefx code in the kubernetes-client/csharp repository? They are owned by different entities (the .NET Foundation vs. CNCF) and have different licenses (MIT vs Apache). Alternatively, a separate NuGet package for just the WebSockets code would

[2018-03-12 21:20] tintoy commented on #102
Ah, I see what I was missing now; the mock builder never actually tries to connect :)

I think there's value in having a mock server for WebSocket requests now; mainly because some of that networking code that was in CoreFX is now bundled into the client :)

[2018-03-12 21:23] tintoy commented on #102
Very good question :)

From what I understand, the MIT license allows you to include it anywhere as long as you include the copyright notice. But I'll admit I'm hardly an authority on the matter :grin:

FWIW that's one of the reasons my client design keeps the WebSockets support entirely separate from the main client package (but mine uses extension methods for access to individual resource-API cl

[2018-03-12 21:24] tintoy commented on #102
That's a nice trick, setting up the cluster in CI - I've not tried before that but I have a project where it'd be very useful!

[2018-03-12 21:26] tintoy commented on #102
Also, nice work on the helm client - I was thinking of building something similar (talking to Draft) a while back but you've saved me the hassle of working out how to do it!

[2018-03-12 21:55] #59 closed

[2018-03-13 03:30] tintoy commented on #102
Hooray for rebasing :)

[2018-03-13 20:34] RohanNagar opened #104 "Load Deployment object from Yaml"
I see that #98 adds a utility object for loading from Yaml. Does this mean I will be able to load a `deployment.yaml` file as a `V1Deployment` object, and pass that in to `CreateNamespacedDeployment`?

If so, I was wondering when a new Nuget package is planning on being released with this addition. I know this change is recent but it would be nice to pull it in without having to copy over the code

[2018-03-16 17:07] RouR opened #105 "RBAC inside cluster"
I try to use this client inside CronJob

It is work in minikube, and does not work in real cluster with RBAC

[code]

This [code](https://github.com/RouR/ToDo-ToBuy/blob/dev/src/DockerHubChecker/Program.cs#L29)
[code]

throw

I think that there is a mistake in the configuration or a bug in the client itself.

It would be good to make the message about the error more informative. For example, what

[2018-03-16 17:22] tg123 commented on #105
copy from #58

Azure/autorest#931 (comment)

[2018-03-18 02:54] brendandburns commented on #104
I'll see about releasing a new nuget package this weekend.

[2018-03-18 04:21] brendandburns commented on #104
Just published `0.5.0-beta` which includes the `Yaml` changes.

[2018-03-18 07:05] #104 closed

[2018-03-18 19:03] RohanNagar commented on #104
Thanks Brendan!

[2018-03-19 17:16] RohanNagar opened #106 "Error with Yaml loading"
I was trying to use the `Yaml` class in version `0.5.0-beta` this morning, and ran into this error when calling `Yaml.LoadFromFileAsync`:

[code]

It looks like changing

[code]

to

[code]

fixes the problem, since in the first one the file is being opened for writing and not reading.

Would you like me to open a PR to fix this?

[2018-03-19 19:43] tg123 commented on #106
please try `File.OpenRead`

[2018-03-19 21:10] RohanNagar commented on #106
@tg123 Yes I can get it to work for me, I just wanted to point out the bug. Are you suggesting that I submit a PR changing it to use `File.OpenRead`?

[2018-03-20 05:03] #102 closed

[2018-03-20 05:04] brendandburns commented on #106
Yes, I should have done that already...

Sorry!

[2018-03-20 05:07] brendandburns commented on #101
Yeah, I see the utility, but I don't want to manually generate the code.

Do you know if AutoRest supports an extension to add a parent class? If so we can look to add that extension...

[2018-03-20 05:09] brendandburns commented on #100
Seems reasonable to me, a nice alternative to event handlers.

[2018-03-20 05:11] brendandburns commented on #105
If you see that comment it should provide a way to get more detail.

Do you believe you are getting `Forbidden` as the result of an error?  If so, can you please send more details about your kubeconfig (please anonymize it first)

[2018-03-20 05:13] tintoy commented on #100
I'll investigate what it'd take to get access to the raw stream without the rest client consuming it and open a PR?

[2018-03-20 05:17] tintoy commented on #101
Agree 😊

The classes are marked as partial, so even if it doesn't I can easily use Roslyn for "post-processing". Will have a think about it this weekend

[2018-03-20 05:23] tintoy commented on #100
BTW, looks like autorest knows how to stream, but per operation not on a single operation varying by query parameter.

https://github.com/Azure/autorest/issues/2108

[2018-03-20 06:58] tintoy commented on #100
Also looks like someone else has worked out the basic mechanics, too:

https://github.com/Azure/autorest/issues/2650#issuecomment-335824817

[2018-03-20 17:05] RohanNagar commented on #106
Sounds good, I'll try to get one in today!

[2018-03-20 20:49] RouR commented on #105
Sorry, I don`t understand how to get more details.

All my configs is here https://github.com/RouR/ToDo-ToBuy/tree/dev/k8s

[2018-03-21 05:28] tg123 commented on #105
Detailed message from k8s api server should be in
HttpOperationException.Response.Content

example might be helpful

[code]

[2018-03-21 05:35] #106 closed

[2018-03-22 02:41] VenkateshSrini opened #109 "How to get the PODS that are running behind a service"
Hi,
My need is to get something like this [How to get pods under the service with client-go the client library of kubernetes?](https://stackoverflow.com/questions/41545123/how-to-get-pods-under-the-service-with-client-go-the-client-library-of-kubernete) using C#.

Can you please let me know the equivalent API in C# for those used in the above solution?

[2018-03-22 05:29] brendandburns commented on #109
The code you want is:
[code]

Putting it all together like in that golang example:

[code]

[2018-03-22 05:29] #109 closed

[2018-03-22 13:53] brendandburns opened #112 "WebSockets request TLSv1"
which is insecure and not supported by the Kubernetes server, we should use `SslProtocols.None` instead to pick up the system defaults when the user doesn't specify anything...

[2018-03-22 18:57] tintoy commented on #112
I think I tried None before but got an exception when connecting; let me update the tests and try again.

[2018-03-22 19:42] tintoy commented on #112
Sorry, I think I had that confused with `SslProtocols.Default`. Will fix shortly :)

[2018-03-22 19:49] brendandburns commented on #112
Have you tried this on Linux? I'm trying and its hanging. I'm debugging, but was wondering if you had it working...

--brendan

________________________________________
From: Adam Friedman <notifications@github.com>
Sent: Thursday, March 22, 2018 12:43 PM
To: kubernetes-client/csharp
Cc: Brendan Burns; Author
Subject: Re: [kubernetes-client/csharp] WebSockets request TLSv1 (#112)

Sorry, I think I

[2018-03-22 19:50] tintoy commented on #112
The tests work in CI which is Travis, right? I'm on my way into the office now, will give it a try shortly.

[2018-03-22 20:23] tintoy commented on #112
BTW, different client but same connection code definitely works against real K8s API:

https://github.com/tintoy/dotnet-kube-client/blob/develop/samples/noob-exec/Program.cs

[2018-03-22 20:23] tintoy commented on #112
Is it a test that's hanging or some other code?

[2018-03-22 20:24] tintoy commented on #112
I got caught out originally by the behaviour of WebSocket.CloseAsync but the tests cater for that.

[2018-03-22 21:56] tintoy commented on #112
@brendanburns - just tried this on Linux (well, WSL, but close enough) and yes all tests pass.

[2018-03-22 21:57] tintoy commented on #112
(the tests do use a real WebSocket connection)

[2018-03-22 23:30] #112 closed

[2018-03-22 23:32] brendandburns commented on #112
fwiw, it was my network connection *sigh* flaky bus and my tcp socket was timing out.

[2018-03-22 23:48] tintoy commented on #112
Tricky - I've been using cancellation tokens in tests so probably hadn't hit that particular issue :-/

Glad you worked it out though

[2018-03-23 03:17] VenkateshSrini opened #115 "Date and Time in ReadNamespacePodlogs"
Hi,
At present when we read the pod logs from SDK, we are getting a stream. The stream data does not have date and time details as to when the log was written. How would I get the date and time when  the log was written ?

[2018-03-23 05:11] brendandburns commented on #115
The log is just stdout. If you need date/time information, you need to log the date/time from within your application.

[2018-03-23 05:11] #115 closed

[2018-03-23 05:12] brendandburns commented on #49
This is working, and there is an example here #116

[2018-03-23 05:12] #49 closed

[2018-03-23 05:14] #73 closed

[2018-03-24 18:59] RouR commented on #105
I fix this issue by add apiGroups: ["apps"]

[code]

Can be closed.

Maybe add httpOperationException.Response.Content to exception message by default?

[2018-03-25 16:22] sesispla opened #118 "Test certificates are not longer valid for MacOS and .NET Core 2.X"
I've found the following error executing the tests locally, with MacOS 10.12.6 (High Sierra) and latest .NET Core SDK (2.1.300-preview1-008174):

[code]

Accordingly to @qmfrederik in [corefx/24225](https://github.com/dotnet/corefx/issues/24225) _"If you have a PKCS#12 file which is not protected with a password, and which does have a MAC entry, opening the file will work on Windows and Linux but

[2018-03-25 21:01] tg123 commented on #118
I do not have a mac, cloud you please test if code below works?

CertUtils.cs:92

[code]

[2018-03-25 21:03] tg123 commented on #105
Those messages are managed by generated autorest code, maybe we can open an issue on autorest.

[2018-03-26 19:01] billpratt opened #120 "Get access to entire kube config"
I'm working on a small POC and would like access to entire kube config. Any reason why we couldn't have a public method that uses [this](https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClientConfiguration.ConfigFile.cs#L269)?

[code]

This would be similar to how the ```kubectl``` go package gets the config using [this](https://github.com/kubernetes/client-go/blob/master/tool

[2018-03-26 21:12] sesispla commented on #118
Cool, we're almost there. Only one test failing now:

[code]

[2018-03-27 07:20] tg123 commented on #118
cloud you please cherry-pick #119 again and test
It seems only the testcase problem, I added empty password to it and revert change from hardcode password `k8s`

[2018-03-28 02:29] #118 closed

[2018-03-29 02:33] tintoy opened #127 "Move library project to subdirectory of /src"
Does anybody have any objections to me moving the library project into a subdirectory of `/src`?

As mentioned to @brendanburns, I'd like to add a second library that adds support for a `Microsoft.Extensions.Configuration` provider targeting `Secret`s and `ConfigMap`s. This enables you to write .NET Core apps that natively retrieve their configuration (and can automatically reload that configurati

[2018-03-29 02:34] tintoy commented on #127
CC: @tg123 @qmfrederik

This will use the official client, of course :wink:

[2018-03-30 09:11] sesispla commented on #118
cherry-picked #119 (c489e06) and the remaining error persists:

[code]

[2018-03-30 13:57] qmfrederik commented on #118
@sesispla Can you try #129? You may need to `export COMPlus_UseManagedHttpClientHandler=true` for this to work - see #129 for the details.

[2018-03-30 13:59] qmfrederik opened #130 "Consider using SocketsHttpHandler"
See #129 for details, but custom/client certificate handling on macOS seems to be broken unless using the `SocketsHttpHandler`.

In .NET Core 2.1 Preview 1, you can enable this using an environment variable. In Preview 2, you should be able to control this in code by running:

[code]

This issue is to track us making that change when .NET Core 2.1 Preview 2 ships.

[2018-03-30 20:34] tintoy commented on #130
Yep same goes for our WebSockets connection builder :)

[2018-03-31 05:33] brendandburns commented on #127
This seems fine to me. It doesn't really have any implications except for updating scripts etc. correct?

[2018-03-31 05:34] brendandburns commented on #120
This seems totally fine. Please send a PR to make those methods public?

[2018-03-31 05:53] tintoy commented on #127
Yep! It may generate some merge conflicts for any other PRs we have in flight though :)

[2018-03-31 15:07] billpratt commented on #120
Will do

[2018-04-01 20:10] sesispla commented on #118
Worked like a charm! Thx @qmfrederik

[2018-04-03 04:34] brendandburns commented on #127
We're in an ok-ish place now, I think, and actually I find git is pretty good about tracking moves like this..

Fire away...

[2018-04-05 05:13] #127 closed

[2018-04-14 23:10] dbenhur opened #135 "Port exec-based client auth provider to DotNet client"
With 1.10, this exec-based client auth credential provider alpha feature was introduced  [kubernetes/features#541](https://github.com/kubernetes/features/issues/541) for client-go.  Exec-based auth plugin should be supported by this DotNet client in addition to client-go. Umbrella issue: [kubernetes#62185](https://github.com/kubernetes/kubernetes/issues/62185)

/kind feature
/sig api-machinery

[2018-04-17 16:17] tintoy commented on #130
Now that the preview2 SDK is available, I'll open a PR to switch the Travis build over to using it :)

[2018-04-17 19:12] tintoy commented on #130
If we want to start cleaning up the hacky code for the WebSocket client, we need the new `SocketsHttpHandler` from preview 2, _but_...

@brendanburns - the .NET Core packages for Debian / Ubuntu are [broken](https://travis-ci.org/tintoy/dotnet-kube-client/builds/367782907#L1793) for preview 2.

I got this going in my other project by installing from tarball instead (https://github.com/tintoy/dotne

[2018-04-18 21:29] RohanNagar opened #136 "Yaml Deserialization Fails for k8s.Models.ResourceQuantity"
If I have this `deployment.yaml` file:

[code]

The `resources` section causes problems in the YAML deserialization:

[code]

The interesting part is `Invalid cast from 'System.String' to 'k8s.Models.ResourceQuantity'`.

Here is my code:

[code]

Am I doing something wrong? The same code works for the YAML when the `resources` section is left out.

[2018-04-19 02:31] tg123 commented on #136
see #126
please try latest version

[2018-04-19 14:07] brendandburns commented on #120
Closing since #133 is merged.

[2018-04-19 14:07] #120 closed

[2018-04-19 14:09] brendandburns commented on #105
Closing this as it was RBAC settings that caused it, not the client code. Feel free to open an issue on AutoRest for a more detailed error message.

[2018-04-19 14:09] #105 closed

[2018-04-19 16:28] RohanNagar commented on #136
@tg123 thanks, that looks like the right fix. Unfortunately there hasn't been a release with those changes yet.

@brendanburns when is the next release planned for?

[2018-04-20 16:14] tyrannosaurusflex commented on #136
Same here, had the exact same problem, glad to see it's already pushed.
+1 for next release, I'm using the nuget package at the moment, which is quite old

[2018-04-20 19:45] brendandburns commented on #136
0.7.0-beta posted:

https://www.nuget.org/packages/KubernetesClient/0.7.0-beta#

closing this issue.

[2018-04-20 19:45] #136 closed

[2018-04-24 08:43] JonJam opened #140 "Support for Mono/Xamarin"
I am trying to use this client library in a Xamarin app, but I having issues due to HttpClientHandler.ServerCertificateCustomValidationCallback in Kubernetes.ConfigInit.

This throws a NotImplementedException in Xamarin as Mono doesn't implement it, see https://github.com/mono/mono/blob/master/mcs/class/System.Net.Http/System.Net.Http/HttpClientHandler.cs.

[2018-04-24 18:46] brendandburns commented on #140
I'm happy to take a PR to optionalize this on Mono, but that functionality is needed for most kubernetes configs.

[2018-04-25 12:09] qmfrederik opened #145 "Deleting pods fails because the server returns a Pod object instead of a Status object"
When you delete a Pod, the server responds with a Pod object instead of a Status object.
The C# client tries to parse the Pod object as a Status object and fails.

This seems to be a general issue with the Swagger/OpenAPI definition of the Kubernetes API, see kubernetes/kubernetes#59501, kubernetes-client/java#86, kubernetes/kubernetes#25716, kubernetes/kubernetes#30537

Opening an issue here main

[2018-04-25 12:43] qmfrederik commented on #145
OK - so it took me some digging to find out that was discussed before in #44 and an attempt to mitigate this has been made in #46 & #47.

I don't think the API is not very intuitive but you can do something like this:

[code]

[2018-04-25 14:11] qmfrederik opened #146 "/watch APIs seems missing"
The Kubernetes API specifies a couple of routes, such as [watchNamespacedPod ](https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L8871) ([`/api/v1/watch/namespaces/{namespace}/pods/{name}`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#watch-64)) which appear to be missing from the C# client.

In my scenario, I want to make sure a delete operation

[2018-04-25 16:46] tg123 commented on #145
the design wants to avoid returning an untyped `object` type.
I don't have any better idea,

[2018-04-25 17:02] tg123 commented on #146
watch pod example <https://github.com/kubernetes-client/csharp/blob/master/examples/watch/Program.cs>
might help

those ops are removed via
<https://github.com/kubernetes-client/gen/blob/master/openapi/preprocess_spec.py#L79

cc @mbohlool

[2018-04-25 17:46] qmfrederik commented on #146
Ah, that explains, though it's still odd. #147 tries to bring them back. I'm specifically looking for a way to watch individual objects.

Use case here is:
1. watch pod
2. send delete request for that pod
3. wait for the watcher to notify me that the delete has completed
4. proceed (e.g. create a new pod with the same name,...)

[2018-04-25 20:14] tintoy commented on #145
This behaviour was one of the issues that led to my suggestion in #101 :)

For what it's worth, here's how I handled it in dotnet-kube-client:

https://github.com/tintoy/dotnet-kube-client/blob/ff2d9bf577663e9c29994b383e67125ea60c13d0/src/KubeClient/ResourceClients/DeploymentClientV1Beta1.cs#L193-L212
https://github.com/tintoy/dotnet-kube-client/blob/ff2d9bf577663e9c29994b383e67125ea60c13d0/src/Ku

[2018-04-25 20:15] tintoy commented on #101
Sorry, have been a bit flat-out at work, so I haven't had time to follow up on this; I'll try to have a proper look into it this weekend.

[2018-04-26 07:42] qmfrederik commented on #145
@tintoy That makes sense, so the API could look like this:

[code]

And calling code would be something like:

[code]

The advantage of this over the current implementation is that the caller can use the `Kind` property to determine what object is being returned, and make a decision based on that.

[2018-04-26 07:46] tintoy commented on #145
Yep! Or if you're using newer C# versions you can use pattern matching :)

[2018-04-27 04:25] brendandburns commented on #146
I think Swagger can't really represent the watch operation adequately, so it's removed so as not to confuse the client...

[2018-04-27 16:28] qmfrederik opened #151 "Add static Kind and ApiVersion properties on generated model classes"
It would be super useful if generated classes could have a static `Kind` and `ApiVersion` property.

For example, right now I had to do:
[code]

where `Status` is a magic value I had to introduce.

It would be great if I would be able to just do:
[code]

making the code a bit more explicit and allowing me to bypass the need for a magic constant.

Is this something the code generator could do?

[2018-04-28 03:54] brendandburns commented on #151
Maybe? Swagger doesn't really represent this kind of stuff well, see the discussion here:

https://github.com/OAI/OpenAPI-Specification/issues/1313

We'd have to post-process it on, similar to what you are doing with watch, or add an Enum to the swagger spec.

[2018-04-29 01:34] tintoy commented on #101
@brendandburns - looking at the `gen`repository, is the directives / transforms the right place to make this change, or do you think I'm better off creating an Autorest extension to add the base class? I could easily write a Roslyn-based console app that can parse the generated code and add the base class as required. Which would be a lot simpler but probably not fit with the "official" generation

[2018-04-29 01:53] tintoy commented on #101
@brendandburns - I think part of the problem is that the swagger definitions don't directly support specifying a base class (JSON schema doesn't support inheritance). This can be done at the code level, but not the swagger level.

FWIW, I did this in my own project when generating the code (after the Swagger JSON has been processed):

https://github.com/tintoy/dotnet-kube-client/blob/ff2d9bf577663

[2018-04-29 06:01] tintoy commented on #101
@brendandburns - here's an example implementation. Only required a minor amount of yak-shaving (due to use of .NET Core 2.1-preview2 SDK):

https://gist.github.com/tintoy/93a8f50fb3f4dafcfa835cbeb804b441

[2018-04-29 07:02] tintoy commented on #101
Otherwise, we _might_ be able to do what we need using the [allOf](https://github.com/Azure/autorest/blob/master/docs/developer/guide/defining-clients-swagger.md#inheritance-and-polymorphism) directive.

[2018-04-29 21:32] tintoy commented on #101
@brendandburns - looks like I'd have to modify the `gen` repository to make this work, but there seems to be only a single script for preprocessing the Swagger document and many other languages (e.g. Go) may not want to use inheritance like this. While I have some ideas for tackling this issue, I'd appreciate it if you could provide some direction in terms of a "blessed" approach :)

(for what it'

[2018-04-30 09:15] qmfrederik commented on #101
@tintoy An easier way may be to use interfaces instead of base classes, like in #152 .

Would interfaces work for your use cases or do you need base classes?

What would the `KubeResource` attribute do?

[2018-04-30 11:50] tintoy commented on #101
Yeah possibly - but we'd still have the same problem of needing to somehow declare the interface implementation on each model class. So back to square one :)

[2018-04-30 11:50] tintoy commented on #101
Will explain properly tomorrow morning :)

[2018-04-30 13:47] qmfrederik opened #153 "Calls over WebSockets don't handle error messages"
The `StreamConnectAsync` method which sets up a WebSocket connection to the Kubernetes API server doesn't handle error messages very well.

When you send an invalid request - such as `exec` or `attach`,  the server responds with a HTTP 400 Bad Request. However, the WebSocket implementation in .NET Core doesn't give you access to the HTTP body when a request fails - see https://github.com/dotnet/co

[2018-04-30 19:14] tintoy commented on #153
I've been meaning to switch us over to `HttpSocketHandler`, perhaps this could be done as part of that work?

[2018-04-30 19:55] tintoy commented on #153
We have access to the response message in our custom connection code, so I can surface it from there. Do we have and Exception type which can expose the response message?

[2018-04-30 21:12] tintoy commented on #101
Ok, now that I'm in front of a proper keyboard (rather than on my phone):

The issue is that, either way, we have to be able to declare a base class or interface for each model (but the current process for generating the models does not allow for this). If we forked the Python script that modifies the Swagger to create a C#-specific version then that could do the trick (but I'm not sure how willin

[2018-05-05 04:51] #70 closed

[2018-05-05 20:40] qmfrederik commented on #146
This has been fixed recently

[2018-05-05 20:40] #146 closed

[2018-05-05 20:41] qmfrederik commented on #151
#152 fixed this

[2018-05-05 20:41] #151 closed

[2018-05-05 20:41] qmfrederik commented on #153
This has been fixed recently

[2018-05-05 20:41] #153 closed

[2018-05-09 01:41] brendandburns commented on #101
#152 is merged, so closing.

[2018-05-09 01:41] #101 closed

[2018-05-23 04:32] brendandburns opened #158 "Release 1.0.0 client?"
I don't think we're missing any major features, and no new bugs in a while, I think we're ready for a 1.0.0

@qmfrederik @tg123 @tintoy

What do you folks think?

[2018-05-23 05:01] brendandburns opened #160 "Fractions library isn't strongly named.."
Running examples I see:

[code]

@qmfrederik is there a way to fix this?

[2018-05-23 05:56] tg123 commented on #158
I am working on making `exec`, `attach`, `porting forward` more friendly to use. e.g. wrap channel const into a util object like java/python client does.

Started last year, really sorry about my slowness. 🐌

Maybe it can be shipped at 1.1

[2018-05-23 06:10] qmfrederik commented on #158
Sounds good to me - we've been using the KubernetesClient in production workloads for a while now and haven't seen any issues.

I had a quick look at our code and there are a couple of changes/improvements we'll probably want to upstream. The most important one is an API for interacting with remote processes (like @tg123 mentions), we're currently working with an API surface similar to the .NET `P

[2018-05-24 06:41] Tokumicn opened #161 "The handler does not support client authentication certificates with this combination of libcurl (7.29.0) and its SSL backend ("NSS/3.34")."
The error is as follows:

The handler does not support client authentication certificates with this combination of libcurl (7.29.0) and its SSL backend ("NSS/3.34").

Please tell me what to do to solve it？

[2018-05-24 14:43] jessfraz opened #162 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 23:32] brendandburns commented on #161
@Tokumicn

Please see this issue here:

https://github.com/dotnet/corefx/issues/26446

And see if it resolves your issue. This looks like it is a dotnet core issue.

[2018-05-24 23:32] #161 closed

[2018-05-26 03:41] #158 closed

[2018-05-29 10:01] qmfrederik opened #165 "Watchers time out after 100 seconds"
- The default timeout for the `HttpClient` is 100 seconds, so the watchers will timeout after this amount of time.
- There is no default API to override the timeout on a per-request basis
- https://www.thomaslevesque.com/2018/02/25/better-timeout-handling-with-httpclient/ describes an alternative but it implies setting the timeout to Infinite for all requests and then specifying the timeout on a p

[2018-05-29 11:33] qmfrederik commented on #165
I'm not entirely sure, but this appears to be an issue when the server does not send any content at all in the first 100 seconds after the GET request is issued. When the server does send a first response, and subsequent updates come in intervals greater than 100 seconds, the code appears to work fine.

[2018-05-31 00:07] brendandburns commented on #165
@qmfrederik is there an action we can take here? Or is this to document the issue for people who encounter it?

[2018-06-02 04:27] brendandburns commented on #130
@tintoy I assume that the .NET core packages are fixed now that 2.1 final has released. Are we ready to start moving?

[2018-06-02 04:29] tintoy commented on #130
Yep! Will have a go at this tomorrow morning (it's Saturday afternoon here ATM)

[2018-06-05 18:39] tintoy commented on #130
@brendandburns - sorry have been flat out at work (new job) but will have time to do this first thing tomorrow :)

[2018-06-05 23:22] brendandburns commented on #130
No worries, want help? I'm happy to pitch in some code and split the work if you want...

--brendan

________________________________
From: Adam Friedman <notifications@github.com>
Sent: Tuesday, June 5, 2018 11:39:22 AM
To: kubernetes-client/csharp
Cc: Brendan Burns; Mention
Subject: Re: [kubernetes-client/csharp] Consider using SocketsHttpHandler (#130)

@brendandburns<https://na01.safelinks.pro

[2018-06-05 23:39] tintoy commented on #130
Thanks! I think I'm OK for now - it's not a large piece of work (less than an hour), just haven't had time to do it yet. If I run into any difficulties tomorrow though I'll be putting my hand up :)

[2018-06-06 00:06] brendandburns commented on #130
SGTM thanks

--brendan

________________________________
From: Adam Friedman <notifications@github.com>
Sent: Tuesday, June 5, 2018 4:39:14 PM
To: kubernetes-client/csharp
Cc: Brendan Burns; Mention
Subject: Re: [kubernetes-client/csharp] Consider using SocketsHttpHandler (#130)

Thanks! I think I'm OK for now - it's not a large piece of work (less than an hour), just haven't had time to do it yet

[2018-06-06 21:52] tintoy commented on #130
Ok - working on this now.

[2018-06-11 13:50] davidorbelian opened #173 "X509VerificationFlags.AllowUnknownCertificateAuthority unexpected behavior."
As said [here](https://stackoverflow.com/questions/6097671/how-to-verify-x509-cert-without-importing-root-cert):

I can confirm that I tried this and got same result.

Steps to reproduce:
Open _kubeconfig_ and replace _certificate-authority-data_ with any other certificate and the result is still true when building the chain.

The solution from StackOverflow offers to replace
[code]
with
[code]

[2018-06-11 19:24] davidorbelian commented on #173
I opened an [issue](https://github.com/dotnet/corefx/issues/30284) on [dotnet/corefx](https://github.com/dotnet/corefx) to clarify this.

[2018-06-11 23:11] davidorbelian commented on #173
They replied as follows:

[2018-06-13 17:55] #173 closed

[2018-06-20 03:44] nickward13 opened #175 "Cannot Connect to AKS Cluster from Dev Laptop"
I'm trying to connect to an RBAC enabled AKS cluster using the recommended code from the README.md, along with a request to list the pods in the default namespace:

var config = KubernetesClientConfiguration.BuildConfigFromConfigFile();
var client = new Kubernetes(config);
client.ListNamespacedPod("default");

The client.ListNamespacedPod command throws an exception "Microsoft.Rest.HttpOperationEx

[2018-06-20 04:01] nickward13 opened #176 "External IP Address Missing from AKS Service Spec"
I'm using the library to retrieve the services I have deployed to my AKS cluster.  I can successfully retrieve the service I'm after, however the ExternalIPs for the service in question are returned as null, whereas they have an external IP as shown by the kubectl output.

See attached ServiceSpec.png for the spec as received via the client library versus ServiceKubectl.png for the service details

[2018-06-22 19:17] RohanNagar opened #179 "Question: How to update image version with client"
If want to update the image version of an existing Deployment with a newer version, how can I do that with the C# client?

Basically I'll have a new deployment YAML file that is the same as the existing one, just with the image version changed. Can I do an update on the existing deployment somehow so that I don't have to delete and recreate (which would cause downtime)?

Thanks!

[2018-06-22 19:41] tg123 commented on #179
Are you looking for `PatchNamespacedDeployment`

More:
<https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment>

[2018-06-22 19:55] RohanNagar commented on #179
What should I put in the `V1Patch` object? If I put either a string containing the new YAML or the `Appsv1beta1Deployment` object in the constructor for `PatchNamespacedDeployment1()`, I get this exception:

[code]

[2018-06-22 20:07] tg123 commented on #179
please have a look at code in #78
and I will add an example code later

[2018-06-22 20:20] RohanNagar commented on #179
Thanks, that helps!

[2018-06-25 14:14] #162 closed

[2018-06-25 14:15] brendandburns commented on #179
There's a Java example here:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/PatchExample.java

That could easily be adapted to c#

[2018-06-25 14:15] #179 closed

[2018-06-25 14:17] brendandburns commented on #176
@nickward13 Any chance you can send the bare YAML?

My guess is there is a parse error somewhere in the c# code...

Thanks!

[2018-06-25 14:18] brendandburns commented on #175
@nickward13 what is in your kubeconfig file? is it certificate based auth? Or is it AAD based auth?

I will try to repro.

Thanks!

[2018-06-27 08:23] qmfrederik opened #181 "Watchers should send a notification when the connection is closed"
The Kubernetes watch APIs have a timeout, after which the connection is closed.

Each watch requests gets assigned a random timeout between [timeout, 2 * timeout]. The default timeout is 30 minutes, see https://github.com/kubernetes/kubernetes/pull/15705.

The `Watcher` updates the `Watching` property but doesn't raise an event/invoke a callback when the server terminates the request.

Suggestion:

[2018-06-27 09:05] ahaeber opened #183 "List namespaced services missing first element"
When using ListNamespacedServiceWithHttpMessagesAsync and watch I seem to not get the first element of the list.

I tried to follow the example at https://github.com/kubernetes-client/csharp/blob/master/examples/watch/Program.cs to watch list of services in a namespace. At first I always found one service missing in the list of services I got in the watch-response handler. Then I enabled Microsoft

[2018-06-27 09:35] qmfrederik commented on #183
Do you get the complete list when you call `ListNamespacedServiceWithHttpMessagesAsync` with `watch` set to `false`?

Do you get all events when you call `WatchNamespacedServiceAsync`?

[2018-06-27 21:38] #181 closed

[2018-06-28 05:49] nickward13 commented on #175
Thanks @brendandburns.  Its certificate based auth - not AAD.

[2018-06-28 05:50] nickward13 commented on #176
Thanks again @brendanburns.  Will do.

[2018-06-28 06:22] nickward13 commented on #176
Ok - I think I've got to the bottom of it.  The external IP is correctly returned by the KubernetesClient in Status.LoadBalancer.Ingress[].Ip, not where I was initially looking for it in Spec.ExternalIps, which is still null.  I'm not sure what is supposed to be in Spec.ExternalIps, however it doesn't seem to list the external IP addresses that are in Status.LoadBalancer.Ingress[].  I had to repro

[2018-06-28 06:32] qmfrederik commented on #160
Is this on the .NET Framework or on .NET Core?

[2018-06-28 15:15] lamchester commented on #160
.NET Framework

[2018-06-28 23:28] brendandburns opened #186 "Client doesn't send both client certificate and token if present..."
If you have a kubeconfig with multiple auth modes present (say client certificate and token) the client only choses one

This conflicts with the `kubectl` behavior which will send both.

I don't know if I love the `kubectl` behavior, but I think the goal should be that a `$KUBECONFIG` that works with kubectl also works with the client, so we should emulate this behavior.

[2018-06-29 09:42] tg123 opened #187 "integrate with VSTS"
Hope MS will provide official VSTS account to build this client

benefits
- Resharper code check (code style/possible defect)
- Windows Build and Release
- Linux build is also supported
- Code converage

Examples:

Last build
https://farmer1992.visualstudio.com/opensources/opensources%20Team/_build/results?buildId=134

related issues #37 #16

[2018-06-29 23:43] brendandburns commented on #187
Do you have an example VSTS config for the build?

[2018-07-02 14:23] #186 closed

[2018-07-03 02:12] lamchester commented on #160
(poke) any update on this?

[2018-07-03 03:55] tg123 commented on #160
https://github.com/danm-de/Fractions

[2018-07-04 06:37] rahulrai-in commented on #37
Is this issue still open? I can see that .editorconfig file is present in the code. Is there anything else that needs to be done?

[2018-07-04 07:29] hossambarakat commented on #145
Should we close this issue since the pull request has been merged?

[2018-07-04 10:04] tg123 commented on #37
please see #187
Will/May apply resharper code style checker

[2018-07-04 10:45] rahulrai-in commented on #37
Why do we need to apply Resharper code style check? Would we like do away with .editorconfig?

[2018-07-04 11:13] tg123 commented on #37
`.editorconfig` is a place to store policy
a tool (resharper or something else) is need to enforce policies wthin `.editorconfig` are applied to all files

those policies might be a battle between

[code]

and
[code]

unluckily, there is no `go fmt` for dotnet at the moment.

[2018-07-04 11:34] rahulrai-in commented on #37
Just wanted to make sure that I understand this correctly. Do we want to execute R# using the editorconfig on the solution then?

[2018-07-04 13:49] tg123 commented on #37
@rahulrai-in sorry for the unclear
Resharper would be one choice for code style checking tools
but it does not support `.editorconfig` as I know

I just want to use `Resharper` to act as code style checking tools via VSTS and the polices might be defined somewhere else.

[2018-07-05 18:12] lamchester commented on #160
Yes, that's the fractions library. The problem is, it's not signed. With .NET Framework, assemblies that are strong name signed can't load assemblies that aren't.

Can you all either:
 - Don't strong name sign the KubernetesClient assembly in the published nuget package. Then we can get the .NET Framework to not enforce strong names
 - Depend on a version of the Fractions library that's strong nam

[2018-07-07 10:55] sesispla commented on #16
Almost a year and still don't have a solution to code coverage in .NET :(

I've updated to latest coverlet bits and kubernetes-client/csharp. No luck, however.

Microsoft official coverage tool is still a Visual Studio Enterprise feature, so I don't this neither a solution.

Still waiting for a fix from Coverlet. (Anyone can help @tonerdo with [this issue?])(https://github.com/tonerdo/coverlet/iss

[2018-07-11 04:48] brendandburns commented on #175
Closing this since we can't seem to reproduce.

[2018-07-11 04:48] #175 closed

[2018-07-11 04:49] brendandburns commented on #183
Closing this as I believe it was fixed by #190

[2018-07-11 04:49] #183 closed

[2018-07-13 05:16] brendandburns commented on #160
@lamchester I think the right thing to do here is to import the relevant Fractions.cs files into this repository and point the code at the local copy instead. The licenses are compatible, I'd be happy to review the PR.

Thanks

[2018-07-14 18:02] ahaeber commented on #183
@brendandburns I've tested with version 1.2.0 and confirmed that it was fixed by #190. Thanks for resolving this!

[2018-07-19 19:28] dnllowe opened #195 "Support for Deployments"
I'm unable to create deployments using the library. Does the library currently support deployments or just pods?

[2018-07-19 21:53] #195 closed

[2018-07-27 19:57] brendandburns commented on #145
I don't think that the Delete* code has been updated to return the parent type?

[2018-07-30 23:45] RohanNagar commented on #160
This can be closed now!

[2018-08-07 23:29] brendandburns commented on #160
closing! :)

[2018-08-07 23:29] #160 closed

[2018-08-09 08:11] camer314 opened #198 "Can this be used from with a pod"
I am wanting to use this library to communicate back to the master from within a pod. I have already written some raw REST code using the Bearer token before i discovered this library however I cant see any flavor that works with a host:port and bearer token (and optionally certs)?

[2018-08-09 09:47] camer314 commented on #198
Discovered how to do it by providing Host and AccessToken fields

[2018-08-09 09:47] #198 closed

[2018-08-11 10:27] tonerdo commented on #16
https://github.com/tonerdo/coverlet/pull/169 fixes the `BadImageFormatException` issue and allows Coverlet to work with this repo. Tested with my local version of https://github.com/sesispla/kubernetes-client-csharp/tree/feature/codecov

[2018-08-11 15:35] tonerdo commented on #16
Tested with the latest release: https://www.nuget.org/packages/coverlet.msbuild/2.2.1

[2018-08-16 06:02] ArchangelSDY commented on #160
Hi, do you have any timeline to publish a new NuGet package with this fix? Currently we are using v1.2.0 and are blocked by this issue.

[2018-08-17 12:44] sesispla commented on #16
Thank you @tonerdo confirmed that is working with the broken branch I had to add coverage. Updating to the latest version and adding coverage to the project!

[2018-09-10 20:30] JonJam commented on #140
PR Merged

[2018-09-21 07:29] tg123 opened #202 "Build failed on Windows"
<https://farmer1992.visualstudio.com/opensources/_build/results?buildId=153&view=logs>

[code]

@DWSR

[2018-09-21 07:35] tg123 commented on #187
@brendanburns Azure pipelines are free for opensource now
unlimited build time

Lets do it?

[2018-09-21 15:35] brendanburns commented on #187
Sounds good to me. Do you want me to set it up or do you have cycles?

Thanks!

On Fri, Sep 21, 2018, 12:35 AM Boshi Lian <notifications@github.com> wrote:

[2018-09-21 22:55] tg123 commented on #187
only you can setup it
<https://github.com/marketplace/azure-pipelines>

[2018-09-28 03:01] shaoding opened #204 "Detail example about using WebSocketNamespacedPodExecAsync"
I have a trouble using WebSocketNamespacedPodExecAsync api to construct a interactive console.

I can't get response from k8s pod After I send command to it.

[code]

Could any one provide a more detail example about using WebSocketNamespacedPodExecAsync api?

[2018-09-28 07:27] tg123 commented on #204
Cloud you please provide more detail about `no response`?

[2018-09-28 08:17] shaoding commented on #204
When I send string like "ls -al" to StdIn stream with this code:

[code]

I want to receive k8s pod response from the Output stream with these code:

[code]

It just returns my input string "ls -al", not the file information in k8s pod.

[2018-09-28 08:43] tg123 commented on #204
`var read = stream.Read(buff, 0, 4096);`
only read first 4096 bytes

Is that your problem?

[2018-10-01 21:04] tg123 commented on #204
Please reopen if any other concern

[2018-10-01 21:04] #204 closed

[2018-10-11 06:15] Lutando opened #206 "Cannot query deployments from within minikube cluster"
in code in a container I have

[code]

[code]

It works if (from outside of k8s) i use the `KubernetesClientConfiguration.BuildConfigFromConfigFile();`  but not from inside the cluster from a container if i use `.InClusterConfig()`

[2018-10-13 04:53] samuela commented on #91
What's the production-ready approach here? Using `kubectl proxy` seems fine for development but the README indicates that it's not appropriate for production.

[2018-10-13 06:02] samuela opened #207 "UnprocessableEntity with `CreateNamespacedJob`"
I have a bit of code that's producing an UnprocessableEntity error no matter how simple I make it:

[code]

I'm running a GKE cluster through `kubectl proxy` on my local machine. I've verified that I can run other operations with the client. There is no pre-existing job named "foo". Here's the complete output:

[code]

What about this request is unprocessable? More broadly, this error message is f

[2018-10-13 06:05] samuela commented on #207
Also: abstracting out the `Models.V1Job(...)` definition and calling `.Validate()` on it does not produce any errors.

[2018-10-13 06:06] samuela commented on #207
Is there any way of taking a request like this and producing the corresponding JSON or YAML file? I'd be curious to try out the same request via kubectl.

[2018-10-13 06:31] samuela commented on #207
I'm afraid that's the complete output, so I don't think there's an InnerException.

I ran `kubectl --v=40000 proxy` for a bit more information. That produced something like
[code]

Digging through the cluster audit logs for that Audit-Id led me to this gem:
[code]
Setting `restartPolicy` on `Models.V1PodSpec` got it all sorted out, so I'm onto new problems now.

[2018-10-13 09:20] twitchax opened #208 "`Yaml.LoadFromString` (and others) are broken due to `namespace` keyword."
`V1ObjectMetadata` defines the `namespace` property as follows.

[code]

This is likely because `namespace` is a reserved keyword in C#.  However, YamlDotNet does not respect the `JsonProperty` attribute, so these deserializers fail when they come across `namespace` in the Yaml.

The best fix would be to either use an attribute that YamlDotNet understands, or to rename this property to `Namespace`

[2018-10-13 09:38] twitchax commented on #208
`ReadOnlyProperty` on `V1VolumeMount` also suffers from this issue.

[2018-10-14 21:20] itowlson commented on #208
Yes, the AutoRest generator which converts the k8s Swagger to C# code special-cases words that are reserved in C#, such as `namespace` or `readonly`.  I don't think we can change this without changing AutoRest, and of course it would be breaking change for consumers of the client.  I've reproduced and got a failing unit test for it, will see if I can puzzle out a fix without changing the existing

[2018-10-15 01:27] itowlson commented on #207
I reproduced this (thanks for the very clear sample!) and it looks like there is a way to get the server error info out of the exception object.  If the exception is a `Microsoft.Rest.HttpOperationException` (which it is in this case) then the exception contains a `Response` property.  `Response.Content` contains the body of the server error response.

Unfortunately, this stuff is generated by Aut

[2018-10-15 02:04] samuela commented on #207
@itowlson Thanks for looking into this! It's very helpful to know that the exception contains the API response with some info. That sounds easier than digging through the audit logs.

[2018-10-15 04:08] twitchax commented on #208
Interestingly, I use to work with the primary AutoRest maintainer, @fearthecowboy.

@fearthecowboy, is there a graceful way to instruct AutoRest to not rename these properties?  In this case, the property names are PascalCased, so there will not be any clash in .NET code.

[2018-10-15 04:47] fearthecowboy commented on #208
Yeah, the generator is a bit... overzealous when attempting to avoid collisions and keywords.

If you are using a [configuration file, ](https://raw.githubusercontent.com/Azure/autorest/master/Samples/1d-common-settings/readme.md) you can stick in a section :

[code]

[2018-10-15 04:48] twitchax commented on #208
Nice!  Thanks for the info, @fearthecowboy!

@itowlson, I see you already opened a PR, but this method might be better in the long run.

[2018-10-15 04:50] itowlson commented on #208
Well, `Namespace` and `ReadOnly` are also keywords in Visual Basic, which _is_ case-insensitive.  So I'm not sure coercing them to the undecorated form is desirable... though other languages will also have escape clauses similar to C#'s `@namespace`...

But yeah solving it at codegen would be nice.  @fearthecowboy, can we configure AutoRest to emit YamlMemberAttribute as well as JsonPropertyAttrib

[2018-10-15 04:57] fearthecowboy commented on #208
With the `from: source-file-csharp`, the `transform:` directive is basically allowing you to edit the c# files before they are saved to disk.

It's just doing a javascript call on the provided code, so you can do some replaces w/regex to tweak what you want, and get consistent results from the generator when you update the swagger file.

You can even do pretty complex things -- [example](https://g

[2018-10-15 05:06] itowlson commented on #208
Thanks Garrett - this may be a more direct method than my type inspector fix - will take a look.

[2018-10-17 15:58] luisve1427 opened #210 "Apply Equivalent"
What is the equivalent to apply command? I tried using **CreateNamespacedSecretAsync** and it works the first time but if try once more i get a conflict error, i was expecting to behave like Apply command.

Thanks for the help

[2018-10-18 04:36] itowlson commented on #210
I think it's `ReplaceNamespacedSecretAsync` - could you give that a go please?

[2018-10-18 08:11] tg123 commented on #210
IMHO
`apply` calls `patch` related rest api

[2018-10-18 15:07] luisve1427 commented on #210
ReplaceNamespacedSecretAsync is working for me, thanks for the help

[2018-10-18 15:07] #210 closed

[2018-10-22 18:12] itowlson opened #214 "AuthTests.Cert() test fails"
The `AuthTests.Cert()` test is failing in CI, and also fails when I run `dotnet test` locally on Windows.  Is there some pre-configuration that needs to be done for this to pass?

[2018-10-23 20:58] itowlson commented on #214
That test only runs on 2.1; we could instead ignore the test, and then at least we'd know that we hadn't broken other things on 2.1?

[2018-10-23 21:45] tg123 commented on #214
Only on windows, so the CI is not broken.
We'd better add CI window.

Maybe we should ignore it first, but I would like to figure out the root cause.

[2018-10-26 22:13] tg123 commented on #202
Need to install xamarin and android SDK with VS

[2018-10-26 22:13] #202 closed

[2018-10-27 05:52] brendandburns commented on #214
I turned this off on OS X (it passes on Linux) in #218

We should investigate further, but CI is now restored...

[2018-11-03 04:42] dasjestyr opened #219 "What permissions are needed?"
I'm trying to list pods using the example but I'm getting back an error saying that I don't appropriate credentials. I'm using kube config. In terminal, I'm authenticated and I can list pods with no trouble. I verified that the machine's current context is exactly what it needs to be. Is there something else I need to do to make it work?

[2018-11-03 07:05] tg123 commented on #219
RABC? #206

[2018-11-03 17:33] dasjestyr commented on #219
Maybe? I guess there's something else I don't understand in how this works. I'm using the same credentials with kubectl as I am with kubernetes-client. What is different to where I need to modify RBAC?

[2018-11-04 22:03] dasjestyr commented on #219
[code]

[2018-11-05 01:34] brendandburns commented on #219
Ah, ok, GKE auth aren't currently supported.

If you want to send a PR, the relevant code would go here:

https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/KubernetesClientConfiguration.ConfigFile.cs#L255

fwiw, [Azure Kubernetes Service](https://azure.microsoft.com/en-us/services/kubernetes-service/) works great with the library :)

[2018-11-05 03:52] dasjestyr commented on #219
Crap. Well that explains that. Ok thanks!

[2018-11-05 03:52] #219 closed

[2018-11-05 18:44] itowlson commented on #208
My bad, Rohan. I went down a rabbit hole with the AutoRest config fix but got lost.  I think we should go with the existing fix and see if we can switch to a codegen solution later.

[2018-11-30 10:35] twitchax opened #220 "Kubeconfig should not require certificate authority data for well known CAs."
As the title says, the parser for the kubeconfig is too sensitive for certificate authority data.

`kubectl` will allow a blank entry if the CA is well-known (e.g., LetsEncrypt CA).  The code [here](https://github.com/kubernetes-client/csharp/blob/7c9cc88d38130947b100ecbea4feb7cbbfeb9f30/src/KubernetesClient/KubernetesClientConfiguration.ConfigFile.cs#L177) prevents that scenario.

[2018-12-02 06:18] brendandburns commented on #220
Agree that makes sense. I'd be happy for a PR or I can get to this eventually myself...

[2018-12-02 07:12] twitchax commented on #220
I don't mind doing it.

Do we want to check the well-known-ness of the CA, or should we just let it fail during negotiation?

[2018-12-02 15:44] schmitch opened #221 "add ingress model"
actually at the moment there is no model for ingresses.

[2018-12-02 15:44] #221 closed

[2018-12-04 00:11] Marcele1987 commented on #214
Seems to work when I add `X509VerificationFlags.IgnoreNotTimeValid` to `chain.ChainPolicy.VerificationFlags = X509VerificationFlags.AllowUnknownCertificateAuthority` in `CertificateValidationCallBack` in Kubernetes.ConfigInit.cs.

`var isValid = chain.Build((X509Certificate2)certificate);` returns true then.

Probably because the NotAfter date of the CaCert is 12/10/2018.

![certdate](https://user

[2018-12-04 00:55] tg123 commented on #214
@Marcele1987 another problem, I will update cert

[2018-12-07 10:25] ArieShout opened #224 "YamlDotNet dependency is broken"
It looks like the current NuGet release `1.3.7-g7c9cc88d38` was built against YamlDotNet.Signed 5.0.0, which has broken file/assembly version in the DLL file (see: https://github.com/aaubry/YamlDotNet/issues/348)

YamlDotNet fixed this in version 5.0.2-pre0499 and 5.1.0. However, the return value of `DeserializerBuilder.Build` changed from `Deserializer` to `IDeserializer` (https://github.com/aaub

[2018-12-10 21:48] brendandburns commented on #224
ack, will update.

[2018-12-11 06:41] #224 closed

[2018-12-12 19:20] brobichaud commented on #160
Yeah I too am dead-ended on trying to use this k8s client.

[2018-12-12 20:49] qmfrederik commented on #160
Have you tried any of the more recent versions, like 1.4.1-g1600e44b00?
PS - Not sure why the git version is appended to builds coming from master, that's probably something we'll need to fix

[2018-12-12 20:54] brobichaud commented on #160
No I've only tried the official releases. Can you guys push a new build up to nuget?

[2018-12-20 21:12] brendandburns commented on #220
Fixed by #222

[2018-12-20 21:12] #220 closed

[2018-12-21 17:53] cilerler opened #226 "User: <username> does not have appropriate auth credentials in kubeconfig"
Examples are based on

where it doesn't work out of the box and according to https://github.com/kubernetes-client/csharp/issues/91 workaround is simply

for development environment.

What is the step-by-step instruction to make this work on production environment for Kubernetes on  Google _(meaning no `kubectl proxy` workaround )_

[2018-12-23 01:43] cilerler commented on #226
in here

[code]

`originalResponse` returns as **401 Unauthorized**

and `request` looks like this

![image](https://user-images.githubusercontent.com/385958/50380046-abf69300-0629-11e9-84b4-3170d68caa9d.png)

And service account has the necessary permission

[2018-12-23 18:49] cilerler commented on #226
You were right.  It is an expired token issue.

Upon your message, I ran `kubectl get pods -n default` from the command prompt to make sure it retrieves a valid token and then ran it through the library and it worked..  Thank you!

Since AKS refresh token is left as **NotImplemented**, I did the same thing for GKE and added a pull request so at least existing library supports both platform without

[2019-01-05 01:17] gaziqbal commented on #206
In case it's helpful to others, this is what I used on my minikube cluster to give the default service account access to crud ops on common resources.

[code]

[2019-01-11 05:01] tintoy commented on #135
If it helps at all, I implemented this a while back for [KubeClient](https://github.com/tintoy/dotnet-kube-client). Happy to contribute my implementation if it'd be useful.

https://github.com/tintoy/dotnet-kube-client/blob/27926d62bf48897837042b624412889fb7b5cdb1/src/KubeClient.Extensions.KubeConfig/K8sConfig.cs#L195
https://github.com/tintoy/dotnet-kube-client/blob/27926d62bf48897837042b62441288

[2019-01-22 17:36] xinyanmsft opened #229 "During port-forwarding, StreamDemuxer returns extra bytes at the beginning"
Environment: Azure Kubernetes Service, version 1.11.5
To repro:
1. Start a port-forwarding StreamDemuxer to a pod in K8s, with "v4.channel.k8s.io".
2. var stream = streamDemuxer.GetStream(0, null)
3. call stream.Read

Result:
the first 2 bytes received from the above stream is the port number, not the bytes transmitted from server.

[2019-01-22 21:16] itowlson commented on #229
@xinyanmsft The title of the issue says 'sometimes' - does your repro exhibit the behaviour consistently, or is it intermittent?  If intermittent, about how often do you see it?

cc @brendandburns

[2019-01-22 21:19] xinyanmsft commented on #229
with my setup (AKS 1.11.5) I am seeing this behavior consistently in my cluster. Updated the title to remove the word 'sometimes'

[2019-01-24 00:06] brendandburns commented on #229
Yep, this is the port-forward protocol. We should read those bytes.  I'll look at fixing.

[2019-01-27 06:31] brendandburns commented on #229
I wrote an example in #232, I can't seem to reproduce this (though I know for a fact that's part of the streaming protocol....)

Do you have the code for a repro?

Thanks

[2019-01-28 22:34] xinyanmsft commented on #229
Looked into this issue, created PR https://github.com/kubernetes-client/csharp/pull/233

The root cause of this bug is in StreamDemuxer.cs. It does not have code to filter out the port bytes in all cases. However, the bug will only manifest itself if one calls StreamDemuxer.GetStream before calling StreamDemuxer.Start. If StreamDemuxer.Start is called first, everything will appear to work because

[2019-01-30 02:52] etchang opened #234 "LoadPemFileCert() does not handle bundle certificates"
We currently working with a customer who is running the C# Kubernetes Client from within their cluster. They are providing their own CA certificate in a PEM file that contains the entire Certificate Trust Chain in it as well as comments
i.e.

[code]

Calling _KubernetesClientConfiguration.InClusterConfig()_ results in the following stack:
[code]

It looks like the client's certificate parsing curr

[2019-01-30 07:00] tg123 commented on #234
I will take a look

[2019-01-31 13:01] maganvill opened #235 "Loading of client certificates (PFX) crashes in Azure Functions sandbox"
Happens when app is deployed as Azure Function, not dev time.

Root cause is that CertUtil [creates a new X509Certificate2](https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/CertUtils.cs#L93) from client certificate byte array without setting the binding flags to "X509KeyStorageFlags.MachineKeySet | X509KeyStorageFlags.PersistKeySet | X509KeyStorageFlags.Exportable" that

[2019-02-05 04:01] brendandburns commented on #229
Closing since #233 has merged.

[2019-02-05 04:01] #229 closed

[2019-02-07 14:20] maganvill commented on #235
#237 solved my issue!

[2019-02-07 14:20] #235 closed

[2019-02-07 17:32] xinyanmsft opened #239 "Please add net452 to KubernetesClient NuGet package"
Please include net452 binary in the NuGet package.

Today when I invoke 'dotnet pack' on my machine, the resulting package contains net452. However the downloaded official package does not include it.

This means, when running in a full framework process, things like WebSocket authentication will not work (the issue was fixed in pull request #231, but NuGet package needs to include 452 to make it

[2019-02-07 18:57] tg123 commented on #239
I am working with integrating with azure pipeline which will enable windows base targets.

[2019-02-07 21:32] omerlh opened #241 "Is it possible to create a CRD controller?"
I'm using the dotnet client in [Kamus](https://github.com/Soluto/kamus), and I really enjoyed it so far. I want to add a CRD (see Soluto/kamus#13), and ideally, I'll be able to write it in dotnet like the rest of the service. By looking at golang samples, look like I need to be able to listen to CLI events. I couldn't find the relevant methods in the SDK - am I missing something? I find only `Watc

[2019-02-08 05:25] brendandburns commented on #241
Yes, you can definitely write a CRD controller in csharp.

ListWatch and Informer are higher-level constructs/utilities that are built into the golang client.

Equivalent capabilities haven't been built into the dotnet client (yet) but that doesn't mean that you can't build a CRD controller, it just means you'll have to do a little more work.

There's a ListWatch cache that has been built for Java

[2019-02-08 05:26] brendandburns commented on #239
Yeah, right now the build step happens in Linux on Travis, that's probably not ideal...

[2019-02-08 06:29] omerlh commented on #241
So just to make sure I understand - I need to write a listWatch CRD using the function `WatchCustomResourceDefinitionAsync` and `ListCustomResourceDefintionAsync`? Because I tried using the watch and didn't get evens although I created CRDs object (not the defintion).

[2019-02-08 22:48] brendandburns commented on #241
Ah, I looked, you want `WatchCustomObject` not `WatchCustomResource` but in looking I realized that hasn't been generated for C#. I need to run a regeneration pass to get it in. I'll try to send a PR this evening....

Apologies!

[2019-02-09 18:11] omerlh commented on #241
Thank you! I need also advice on a design: Is there a doc on how to write HA controller? I understand I need to listen for CLI events, so I guess it means having one pod listening for events on the cluster. How can I handle pod stopping/starting and ensuring I'm losing events?

[2019-02-09 19:50] omerlh commented on #241
Find my answer (regarding the controller) on the [docs](https://kubernetes.io/docs/reference/using-api/api-concepts/):

[2019-02-09 20:13] omerlh commented on #241
One finall update - I managed to understand how to do it by hand using:
[code]
But recevied the following execption:
[code]
I guess it's somewhere inside the watch but I couldn't understand where...

[2019-02-12 04:51] brendandburns commented on #241
It's going to try to deserialize the objects into a JSON parsed object here:

https://github.com/kubernetes-client/csharp/blob/9372e3291fea0c70fdb963fb1c542c2d4e448fc7/src/KubernetesClient/Watcher.cs#L120

So instead of passing `object` I think you should pass the object you should expect with the proper JSON field names.

Hope that helps. This is definitely harder than it should be...

[2019-02-12 05:07] #208 closed

[2019-02-12 07:04] omerlh commented on #241
Got the same exception, trying:
[code]
This is `KamusSecret`:
[code]
And when trying the following URL `http://localhost:8001/apis/soluto.com/alpha/kamussecrets?watch=1` I get valid results:
[code]

[2019-02-13 05:36] brendandburns commented on #241
Yeah, it looks like you need to add `warch=1`

There's a comment here:

https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/Kubernetes.Watch.cs#L48

That explains why.

But honestly, looking at the code (I didn't write most of it) I feel like there are two competing watch implementations...

Anyway, I think that what you need to do is parse out that "object" field and that

[2019-02-13 06:25] omerlh commented on #241
I tried adding the query param:
[code]
But the requests failed with NotFound error from Kuberentes. Which is weird, because
[code]
Hang because there are no objects right now. So it exists. I have no idea why it's not working. I looked on the URL in the exception and it looks valid...

[2019-02-13 21:20] brendandburns commented on #241
Hrm, ok at this point I think I just need to reproduce the error on my local box and debug more :)

Apologies!

[2019-02-14 01:19] brendandburns opened #242 "Library can't load eliptic curve keys"
[code]

[2019-02-14 06:46] omerlh commented on #241
Sure, thanks!

[2019-02-15 00:32] brendandburns commented on #234
@tg123 are you working on this? I have some cycles and thought I might take a crack at it if you haven't already started.

Thanks!

[2019-02-15 08:37] tg123 commented on #234
@brendandburns please check#245 and my concern.
I think I only fix part of this issue. I did not find an elegant way to address it without rewriting https part.
We need to think about supporting chain or not.

[2019-02-17 01:37] pascaljr commented on #235
Could you guys provide a sample code on how to use this feature, please? I'm trying to use the Kubernetes API inside an Azure Function and I can't get it to work. Tnank you so much

[2019-02-26 06:32] brendandburns commented on #214
@tg123 @itowlson

Is this still a problem? I just ran dotnet test on my windows machine and it appears to work correctly...

[2019-02-26 07:55] tg123 commented on #214
@brendanburns fixed. I updated the cert in #223.

[2019-02-26 07:55] #214 closed

[2019-02-27 18:45] #242 closed

[2019-02-27 19:36] gaziqbal opened #248 "CSharp PUT wrappers"
It appears that the API support PUT semantics (https://github.com/kubernetes/kubernetes/issues/2114)
Are there plans to bring PUT wrappers to the CSharp client? I am not finding them right now.

[2019-02-28 04:56] itowlson commented on #248
The `ReplaceXxx` methods have PUT semantics.  Let us know if those don't suit your situation.

[2019-02-28 06:26] gaziqbal commented on #248
Thanks. I see that it's sending a PUT request, but for services at least, the following code fails with a 404 if there is no service of that name.

[code]

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:38:32Z", GoVersion:"go1.9.3", Compiler:"gc", Pla

[2019-02-28 08:57] tomkerkhove opened #249 "Provide documentation on authentication mechanisms"
It looks like there are a few ways to authenicate/connect to a cluster.

[code]

Is this documented somewhere? If not, plans to provide this to clarify this part?

[2019-02-28 19:36] brendandburns commented on #248
404 indicates that the namespace/name object doesn't exist.

So either the name or the namespace in your call is wrong.

PUT requires that the object doesn't exist. If you want to create a new object, use `Create*` instead.

--brendan

[2019-02-28 19:36] #248 closed

[2019-02-28 19:38] brendandburns commented on #249
@tomkerkhove what specific documentation would you like to see? (and where would you find it useful, in the `README.md`?)

thanks

[2019-02-28 21:16] tomkerkhove commented on #249
@brendandburns Ideally something that could be generated as part of the client's via enum, but given it can also come from partners that's practically impossible.

Having a list of Kubernetes official events in the docs or Readme would be good alternative, then we have at least an idea what kube will push.

This is crucial if you want to build components on top of these events. Certainly if you wa

[2019-02-28 23:17] gaziqbal commented on #248
My expectation was that PUT would support create-or-replace. Is that not currently supported?
Thanks!

[2019-02-28 23:38] maganvill commented on #235
@pascaljr This is one way to do it

Unfortunately, Managed Identity is not supported dev time, like it is in _Microsoft.Azure.Services.AppAuthentication_. So for running locally, you must create a service principal for your client and give it the contributor role on your AKS resource.

Running in a Azure Function, Managed Identity is supported so use that SP instead and set the contributor role on

[2019-03-01 03:55] brendandburns commented on #249
Wait sorry, I am confused.  I think we're mixing two things? Isn't this request about authentication methods?

Thanks

[2019-03-01 08:42] tomkerkhove commented on #249
Woops, I thought this was a different issue, sorry about that! Deleted my comment as it makes no sense.

Documentation in README is good enough for me!

[2019-03-05 00:04] brendandburns commented on #91
@samuela someone needs to write support for GCP for this library.

[2019-03-06 00:41] brendandburns commented on #239
Now that the pipeline is checked in, I will create a pipeline to build that artifact...

[2019-03-08 16:11] pascaljr commented on #235
@maganvill Thank you so much for taking the time and sharing the code with me. During the next few days I'm gonna try to use it.

[2019-03-11 13:39] #234 closed

[2019-03-14 20:52] gaziqbal commented on #202
Is that documented somewhere?

[2019-03-14 21:07] tg123 commented on #202
![image](https://user-images.githubusercontent.com/170430/54391545-5e0a8d80-4662-11e9-879d-be418c74e002.png)

[2019-03-20 21:29] tomkerkhove opened #262 "Provide support for asynchronous watch"
As of today you can create a watch for event as following:
[code]

Are there plans to provide an asynchronous version? This would be great to have if we want to perform I/O operations/call services.

[2019-03-20 21:37] tg123 commented on #262
you can do this
`.Watch<V1Pod>(async (type, item) =>.....`

[2019-03-21 06:29] tomkerkhove commented on #262
Using async actions is actually not recommended, see https://msdn.microsoft.com/en-us/magazine/jj991977.aspx -

[2019-03-21 10:09] tg123 commented on #262
Thanks @tomkerkhove
I learnt a lot from your link.

Could you please advise the pattern for async watcher?

[2019-03-21 13:38] qmfrederik commented on #262
@tomkerkhove The callbacks you pass to the Watch method are essentially event handlers. The article you reference states:

You should be good here. The callbacks will trigger your async code, creating a new Task. They will not `await` your task - so it's your responsibility to make sure you implement error handling, etc.

[2019-03-21 16:00] tomkerkhove commented on #262
In that case it's not really nice imo but i'll just stick with sync processing then.

[2019-03-21 16:00] #262 closed

[2019-03-21 16:39] corruptmem opened #263 "Requests hang if watch=true and there are no objects matching query"
To reproduce:

[code]

**Expected**: Output FOO, BAR, WATCHING then as any new pods get created, for the event to be printed

**Actual**: Outputs FOO then the program hangs until at least one pod gets created

If you comment out the labelSelector, the problem goes away - presumably unless you had a Kubernetes cluster with no pods in the default namespace.

---

Although it is possible to workaroun

[2019-03-22 12:46] tg123 commented on #16
#264
Consider close as azure pipe was established

[2019-03-22 12:46] #16 closed

[2019-03-22 12:56] #32 closed

[2019-03-22 12:56] #187 closed

[2019-03-22 13:19] tg123 commented on #263
I think it is by design.
call with `watch=true` would return a stream, something like you are downloading a big file.
the call will hang until everything was read if there is no `WatcherDelegatingHandler` and it is impossible due to watched stream never end until timeout.

Maybe the better solution is to wrap List and Watch into one sugared watch

What do you think?

[2019-03-22 14:37] corruptmem commented on #263
@tg123 This is essentially what I am now doing, but it makes it all more difficult than it needs to be. Essentially having to translate the async-based List call into working the same way as the callback-based Watch call.

However I think it is possible to implement the List call so it returns immediately if watch is true. I implemented it as a test by having the LineSeparatedHttpContent.Serialize

[2019-03-22 18:13] brendandburns commented on #263
List and Watch should be separate calls...

[2019-03-22 23:58] #249 closed

[2019-03-25 15:41] qmfrederik opened #272 "CI - Resharper checks are timing out on all builds"
It looks like the Resharper checks have been timing out on all Windows builds since at least last Friday, causing the builds to fail alltogether.

[2019-03-25 15:41] qmfrederik commented on #272
/assign @tg123

[2019-03-25 22:28] tg123 commented on #272
seems run out of credit of free vsts resource

[2019-03-25 23:28] brendandburns commented on #272
perhaps we should disable it for now?

[2019-03-25 23:30] tg123 commented on #272
@brendandburns agree can we apply more free credit from azure for oss?

[2019-03-26 13:42] kieronlanning opened #273 "In-Cluster Permission"
Is there a way to give a specific service access to certain parts of the cluster?

I'm trying to do some basic service discovery from a service - which simply lists other service currently available based on some labels.

However, trying to make that call from within the cluster itself results in a 403 - Forbidden.

I'm accessing the cluster like so: `var config = KubernetesClientConfiguration.InC

[2019-03-26 18:19] tg123 commented on #272
Merged I will follow up style check

[2019-03-27 18:04] tg123 commented on #263
call `WatchNamespacedPodAsync`?

[2019-03-30 01:48] brendandburns commented on #273
You need to look at (and configure) Service Account RBAC:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

I'm going to close this since it is unrelated to the client library.

[2019-03-30 01:48] #273 closed

[2019-03-30 07:37] kieronlanning commented on #273
@brendandburns You put me on to exactly the right path - thankyou!

[2019-04-01 14:18] corruptmem commented on #263
@tg123 `WatchNamespacedPodAsync` has the description: "deprecated: use the 'watch' parameter with a list operation instead, filtered to a single item with the 'fieldSelector' parameter.". I believe the Watch* APIs use the /watch API that was deprecated by kubernetes/kubernetes#65147

[2019-04-02 11:40] qmfrederik commented on #263
@corruptmem Yes, that seems to be correct. We should be able to just update the `Watch*` APIs to use the `?watch=true` parameter, though.

It'd involve updating the `KubernetesWatchGenerator` project and then re-running the generator.

Would you want to pop a PR for that?

[2019-04-03 08:56] zeross1337 opened #277 "Is it possible to Create a job using existing cronjob"
Hi Guys,

I'm new with this client but I can't find the possibilities. So is it possible to create a job using from an existing cronjob (or trigger existing cronjob). And how can I get this to work?

Thanks!

[2019-04-03 12:06] qmfrederik commented on #277
The short answer is 'yes'. You can use `IKubernetes.CreateNamespacedCronJobWithHttpMessagesAsync` to create a new CronJob or `IKubernetes.CreateNamespacedJobWithHttpMessagesAsync` to create a new Job.

The main parameter you need to specify is `V1Job body` (or similar for the cron job); the value of this parameter should match the YAML you use to create the cron job using `kubectl create -f`.

[2019-04-03 13:03] zeross1337 commented on #277
Hi Frederik,

I have tried a function to get all the existing cronjobs:

` KubernetesClientconfig = new KubernetesClientConfiguration { Host = "http://127.0.0.1:8001" };
            KubernetesClient = new Kubernetes(KubernetesClientconfig);
            var namespaces = KubernetesClient.ListCronJobForAllNamespaces1WithHttpMessagesAsync().GetAwaiter().GetResult();`

But I get an exception Microsoft.

[2019-04-03 13:07] qmfrederik commented on #277
Yeah, the error message is very limited - see #58.

Can you wrap that in a try/catch statement like this:

[code]

and have a look at what the value of `content` is?

[2019-04-03 13:13] zeross1337 commented on #277
The value of content: "Not Found"
The value of content: "404 page not found\n"

[2019-04-03 13:20] qmfrederik commented on #277
Did you open http://127.0.0.1:8001 via kubectl proxy?
Can you access http://127.0.0.1:8001/apis/batch/v2alpha1/cronjobs using your browser? What response do you get?
What version of Kubernetes is your server running?

[2019-04-03 13:39] zeross1337 commented on #277
I used Azure CLI to connect with the kubernetes dashboard on http://127.0.0.1:8001/

With proxy on I get 404 code. the server could not find the requested resource

Version kubernetes: 1.12.6

[2019-04-03 13:43] qmfrederik commented on #277
In that case, I'm not sure what the issue is. `GET /apis/batch/v2alpha1/cronjobs` [is listed as a valid endpoint for 1.12](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#list-all-namespaces-cronjob-v2alpha1-batch). If it doesn't work using your browser, there must be something else.

[2019-04-07 20:19] brendandburns commented on #277
@zeross1337 you shouldn't need the proxy. This library will pick the right credentials out of your kubeconfig file to talk to the AKS cluster directly...

[2019-04-10 16:27] gaziqbal opened #278 "Corelate Nuget releases with GitHub commits/releases"
Apologies if this is not the correct forum. I'm having difficulty understanding how the Nuget releases map to the GitHub commits and releases. I only see 3 releases on GitHub. However it seems that there is a fairly regular release cadence on Nuget.

How which Nuget version maps to which commit? For example, I'd like a package which includes https://github.com/kubernetes-client/csharp/commit/fd173

[2019-04-10 16:34] qmfrederik commented on #278
Good question.

Releases are pushed to NuGet during Travis builds from master.

As a rule of thumb, since packages are only pushed for master builds, is to correlate the publish time in NuGet with the commit time.

The '100% sure' way to find out the NuGet package which was produced by a build:

1. Go to the commit history in GitHub - https://github.com/kubernetes-client/csharp/commits/master
2. F

[2019-04-16 05:30] uhansen commented on #277
Just tried this out, seeing the same problem - if you have multiple AKS clusters in your kubeconfig it doesn't work, if you have only one it works

[2019-04-16 23:37] brendandburns commented on #277
@uhansen can you provide more details to reproduce? It should work with multiple clusters in your config file. That sounds like a bug...

[2019-04-17 15:40] omerlh opened #279 "Allow to set HttpClient when creating the client"
Currently, there is overload that let you set the HttpClient (for example, if you want to override the default timeout) and use `KubernetesClientConfiguration`. There is such a constructor on the generated `Kubernetes` object - but it doesn't accept configuration.

[2019-04-23 17:10] ajamrozek commented on #279
After you construct your client. You can set the HttpClient property properties.

var client = new Kubernetes(k8sClientConfig);
client.HttpClient.Timeout = new TimeSpan(0, 0, 0, 30);

[2019-04-25 17:30] gaziqbal commented on #278
Thanks for the help. It'd be great to create a release in GitHub which corresponds to the NuGet release :)

[2019-04-28 05:39] eflorespalma opened #280 "Cant get avalaibleReplicas"
Hi everybody,

I have one problem accessing to some information about my deployments.

[code]

Replicas and AvailableReplicas always is null, Is there any solution for that? Thx

[2019-04-30 21:01] brendandburns commented on #280
you're watching here. If you want to watch you need to use the Watch helper class:

https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/IKubernetes.Watch.cs
https://github.com/kubernetes-client/csharp/blob/master/examples/watch/Program.cs

Otherwise setting watch to false, I think will fix things, please re-open if setting watch to false doesn't fix things.

[2019-04-30 21:01] #280 closed

[2019-05-02 17:48] coolboy190 opened #282 "SSL connection problems on Mac"
We are getting an internal error when calling the API server for this API on Mac OSX: `k8s.Kubernetes.ListNamespacedPodWithHttpMessagesAsync`

But the same API works on windows.

From the error message it is not clear what is causing this issue as it just says internal error.

Kubernetes client nuget package used: 1.5.5

``The SSL connection could not be established, see inner exception.","Data":{

[2019-05-02 19:16] brendandburns commented on #282
@coolboy190

Perhaps look at this:

https://github.com/dotnet/corefx/issues/31749

[2019-05-08 16:33] sanar-microsoft commented on #282
@brendanburns The API is targeting an AKS cluster, I checked the keychain for any cert but didn't find any. Is there anything else I can look into that can help identify the problem? On my other Mac things seem to work fine.

[2019-05-08 17:34] coolboy190 commented on #282
The API is targeting an AKS cluster, I checked the keychain for any cert but didn't find any. Is there anything else I can look into that can help identify the problem? On my other Mac things seem to work fine.

[2019-05-10 19:58] coolboy190 commented on #282
They are running same MacOS X 10.14.4, build version 18E226.

I tried on another machine and things are working fine there. This is happening only on one machine, and I guess you're right this looks like a problem with machine configuration rather than the kubernetes client.
On the machine with this issue I tried running equivalent kubectl command and that worked.

[2019-05-13 06:36] tomkerkhove commented on #272
As far as I know, you should be able to get more build time for OSS project.

[2019-05-13 08:31] qmfrederik commented on #272
Azure DevOps OSS policies aside, Resharper checks for a project of this size don't normally take 1 hour; I think there's another issue with the Resharper task timing out.

[2019-05-13 08:33] tomkerkhove commented on #272
Do you have by any chance a build where this was the case?

[2019-05-13 08:39] qmfrederik commented on #272
This one probably: https://github.com/kubernetes-client/csharp/runs/83935158, though it looks like the build logs are not retained in Azure DevOps.

[2019-05-13 08:40] tomkerkhove commented on #272
Too bad :/

[2019-05-14 02:08] richardgragasin commented on #273
Hi, were you able to configure service account RBAC? i'm currently facing similar issue

[2019-05-14 06:22] richardgragasin opened #285 "unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined"
I'm using
`var config = KubernetesClientConfiguration.InClusterConfig();`
for getting the cluster config inside of minikube.

I also created a service account to avoid 403: forbidden when calling kubernetes API.
but upon getting the cluster config my c# application throws and exception

**k8s.Exceptions.KubeConfigException: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBER

[2019-05-14 07:33] kieronlanning commented on #273
@richardgragasin Yes! We ended up with this:

**open-api-rbac.yaml**:
[code]

And then the `Deployment` kind looks a little like this:

*Partial* **open-api-deployment.yaml**:
[code]

[2019-05-14 16:41] brendandburns commented on #285
For some reason your 'kubernetes' service isn't defined via environment variables.

is their a service named 'kubernetes' in your cluster?

thanks.

[2019-05-15 00:16] richardgragasin commented on #285
Yes i have.
![image](https://user-images.githubusercontent.com/13230343/57740293-9c1b4080-76e9-11e9-96bf-3c53d3760a58.png)

[2019-05-15 01:44] richardgragasin commented on #273
Great! let me try this one. i hope this will work on me.

[2019-05-15 02:34] richardgragasin commented on #285
We can now close this issue.
I was able to make resolve it by following
https://github.com/kubernetes-client/csharp/issues/273#issuecomment-492114211

[2019-05-15 02:34] #285 closed

[2019-05-30 19:20] brendandburns commented on #282
Yeah, my bet is that it is a dotnet issue of some sort. Are the dotnet versions the same?

Anyway, I'm going to close this since I don't think it's in this library...

[2019-05-30 19:20] #282 closed

[2019-06-12 10:12] Bliamoh opened #286 "ClusterRoleBinding and RoleBinding creation 'BadRequest'"
I'm trying to use the Kubernetes Client to create ClusterRoleBinding and RoleBinding with YAML files, however I always get a 'BadRequest' response. Here is my code:

[code]

And here are my YAML files:
[code]

So as you can see, I'm trying to create some Kubernetes resources according to a resource type and a YAML file. When I create the above ServiceAccount and ClusterRole (or even if it's juste

[2019-06-12 18:52] brendandburns commented on #286
Print out the message returned from the API Server (it should be in the error/exception somewhere) and you should get more details.

--brendan

[2019-06-13 09:22] Bliamoh commented on #286
I find the complete error message: "the API version in the data (rbac.authorization.k8s.io/v1beta1) does not match the expected API version (rbac.authorization.k8s.io/v1)".

So I changed `apiVersion: rbac.authorization.k8s.io/v1beta1` in my YAML file to `apiVersion: rbac.authorization.k8s.io/v1` and it works now.

What I don't understand is why this YAML file works fine when I'm using the command

[2019-06-13 09:22] #286 closed

[2019-06-22 02:41] #64 closed

[2019-06-22 03:42] #100 closed

[2019-06-23 02:04] #130 closed

[2019-06-23 14:16] #37 closed

[2019-06-23 17:05] eddyuk opened #288 "Getting error while calling ListNamespacedSecret"
While attempting to run ListNamespacedSecret in cluster (`KubernetesClientConfiguration.InClusterConfig()`), getting following error:

 It is working on my local development machine when initiating with KubernetesClientConfiguration.BuildDefaultConfig().
I'm using .NET Standard 4.7.2 with Windows 2019 node

[2019-06-27 08:44] #135 closed

[2019-06-28 15:09] s-leonard opened #289 "RBAC Requirments"
This is more of documentation issue I guess.

Your simple example of `var list = client.ListNamespacedPod("default"); `
works remotely using the `BuildConfigFromConfigFile()` config, but when I'm running this from inside a POD using` InClusterConfig()` I get " Operation returned an invalid status code 'Forbidden' "
I've tried adding something like this

[code]

to give permissions, but I don't kno

[2019-07-02 11:00] s-leonard commented on #288
Did you work this out, I'm also getting this issue, I cant see what permissions I need to grant?

[2019-07-02 11:44] s-leonard commented on #288
actually I've got it working, this issue had answer [273](https://github.com/kubernetes-client/csharp/issues/273#issuecomment-492114211)

[2019-07-02 11:44] s-leonard commented on #289
actually I've got it working, this issue had answer [273](https://github.com/kubernetes-client/csharp/issues/273#issuecomment-492114211)

[2019-07-02 11:44] #289 closed

[2019-07-07 13:34] winromulus commented on #279
I would also like to have this option so I can use the HttpClientFactory.
Currently I'm suffering from the DNS update issue of the standard client.

[2019-07-14 08:22] #241 closed

[2019-07-17 19:21] xinyanmsft opened #290 "TLS failure when running on Windows Server 2012 R2"
Report from one of our customers. This happens on Windows Server 2012 R2. Code combined against .Net Framework 4.6.1

Invoking methods such as ReadNamespacedPod will result in HttpRequestException: 'An error occurred while sending the request.', with Inner exception 'WebException: The request was aborted: Could not create SSL/TLS secure channel.'

[2019-07-20 10:35] alecor191 commented on #290
I'm seeing the same error in the following setup:

- Windows 10, build 1903
- Docker for Windows with Kubernetes enabled (Linux containers)
- Calling `ListNamespacedPodAsync()` fails with the same error as mentioned above when executed from within the pod:

[code]

Note that executing the following code from an app executed on the same machine, but outside the cluster, works fine:

[code]

[2019-08-01 18:40] rchouser opened #291 "Cannot patch service label when no previously exists"
I'm trying to use the csharp client to add a new label to a service.  Assuming item below is a valid V1Service object
[code]

will fail with **UnprocessableEntity** if the item.Metadata.Label collection is initially null.  If I use kubectl get services --show-labels  I might see something like

NAME             TYPE           CLUSTER-IP     EXTERNAL-IP       PORT(S)          AGE   LABELS
iaproto

[2019-08-03 03:06] #239 closed

[2019-08-04 04:35] weng271190436 opened #292 "Is there a way to add "limit" query option to ListClusterCustomObjectAsync?"
https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks

I am trying to add a "limit" query option when I am retrieving my custom objects. I might be mistaken but it seems that the c# client does not support this yet.

Since this is generated codes can we regenerate KubernetesExtensions.cs?

[2019-08-04 23:55] krabhishek8260 commented on #292
The client supports limit.

`public static V1PodList ListPodForAllNamespaces(this IKubernetes operations, bool? allowWatchBookmarks = default(bool?), string continueParameter = default(string), string fieldSelector = default(string), string labelSelector = default(string), int? limit = default(int?), string pretty = default(string), string resourceVersion = default(string), int? timeoutSeconds = d

[2019-08-05 06:50] weng271190436 commented on #292
Ah I see. But
public async Task<HttpOperationResponse<object>> ListClusterCustomObjectWithHttpMessagesAsync(string group, string version, string plural, string fieldSelector = default(string), string labelSelector = default(string), string resourceVersion = default(string), int? timeoutSeconds = default(int?), bool? watch = default(bool?), string pretty = default(string), Dictionary<string, List<s

[2019-08-06 16:48] mikedanese opened #293 "client should periodically reload InClusterConfig token"
See https://github.com/kubernetes/kubernetes/issues/70679

[2019-08-07 12:12] gittadesushil opened #294 "Question: Is is possible to read pod logs in pagination manner"
According to available API provided by plugin. I can read the pod logs but I am not clear how to read only last lines of logs generated by pods. Using stream I can read logs but they are never ending if my pod is continuously keep them dumping.
I would like to read only latest some lines of logs, is it possible? I always get logs from beginning but if logs size is more the read takes to much time.

[2019-08-07 13:10] gittadesushil commented on #294
Closing Question as I am setting tailLines option with specific value.

[2019-08-07 13:10] #294 closed

[2019-08-07 13:22] sadedil opened #295 "Custom Resource Definitions: Get or Create"
As far as i see, i can get all native K8s objects with queries like `client.ListNamespacedPod`. Is there any support for CRD's?

In my example we are using Argo's Workflow CRD.

[code]

How can i `get` or `create` this type of resource with this library. It's not necessary to be strongly typed. I've full `yaml` file and i want to `create` in a K8s cluster.

[2019-08-07 17:46] omerlh opened #296 "Add support for conversation webhook object"
A [conversation webhook](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#write-a-conversion-webhook-server) gives you an easy way to handle multiple versions of your CRD. There are two objects that are required to support that - `ConversionReview` and `ConversionResponse`. It will be nice to have them also as part of the generated obje

[2019-08-08 02:59] KyleGobel commented on #135
Would be nice to have an implementation of this.  I'm not sure of a work around to connect to EKS (fairly popular I think?) out-of- cluster without it?

[2019-08-09 14:08] gittadesushil opened #297 "Port Forward example not working"
I am using Port forward example where I need to forward the port of running service. I have service running inside pod on port 3122.
When I redirect it to 8080. The url is localhost:8080 and has UI but I don't see full UI. Only I can see the service name mentioned in Title bar of browser.

Debug:
[code]
Coming always false `Encoding.ASCII.GetString(bytes,0,bytesRec).IndexOf("<EOF>") > -1`

But if

[2019-08-09 21:56] jonstelly opened #298 "YamlDotNet doesn't work with YamlDotNet 6.0"
I see this issue from before: https://github.com/kubernetes-client/csharp/issues/224

For me, I've got a project that uses [GitVersionCore](https://www.nuget.org/packages/GitVersionCore/5.0.0) and they just released a 5.0.0 in which they bumped their YamlDotNet dependency to 6.1.2.  That breaks my Kubernetes Client usage with the same error as in https://github.com/kubernetes-client/csharp/issues/

[2019-08-09 21:57] #298 closed

[2019-08-13 16:02] gittadesushil commented on #297
It started working if I close the listener in while loop.
`handler = listener.Accept();`

[code]
Can someone please look into my suggestion? I feel example need modification.

[2019-08-19 12:24] GlennArens opened #299 "intorstring wrong serialization."
if you try to assign an int to the targetport variable in V1Service it get serialized as
[code]
it should be serialized as
[code]

Code to generate issue:
[code]

[2019-08-22 17:03] blushingpenguin commented on #297
I encountered this as well, you just need to change
[code]
to
[code]

[2019-08-30 08:42] gittadesushil commented on #297
@blushingpenguin
After using `var demux = new StreamDemuxer(webSocket, StreamType.PortForward);`. still I see some request are in pending state.  Resulting I don't see all resources get loads.
According to [This link](https://developers.google.com/web/tools/chrome-devtools/network/reference#timing-explanation)

So I think it's necessary to close listener after every request full-fill. Do you have

[2019-08-30 08:55] blushingpenguin commented on #297
I don't see what Chrome's behaviour has to do with .NET's HttpClient?  As it is the port forward sample is actually broken -- the stream isn't demuxed appropriately and includes random binary garbage which would explain why your browser isn't loading what you are port fowarding correctly. What's wrong with your code apart from that I couldn't say without seeing it.

[2019-08-30 10:04] gittadesushil commented on #297
@blushingpenguin I am using same example as it is.
UseCase : There is micro-service running on k8s cloud where it cannot be ingress outside. So to do that I need to use port forward so that service should available to testing team. To check this port forward is working I can hit the url in chrome and see weather everything is loaded (Service has UI stuffs in it).

[2019-08-30 14:03] #263 closed

[2019-08-31 20:12] qdetweiler opened #301 "Watcher creation blocks until first change notification available"
I would like to be able to instantiate a new Watcher for a resource before any instances of the resource are created.  For example, I would like to create a watcher that is watching for Deployments before any deployments have been created.  I expect construction of the Watcher to complete immediately regardless of whether any resources exist.  Then, I expect events to be dispatched on the Watcher'

[2019-09-08 22:09] DavidParks8 opened #303 "Why so many targeted frameworks?"
Targeting a bunch of specific frameworks kind of defeats the point of using .net standard, does it not? I looked through the code and it seems like there are good initial reasons for targeting a bunch of platforms, but now that .net core has matured a bit, it might be time to look into unifying to just .net standard 2.0 and adding convenience methods/support for Microsoft.Extensions.DependencyInje

[2019-09-08 22:12] DavidParks8 commented on #279
I want to use HttpClientFactory as well, and the change was fairly small, all things considered. Take a look at #302.

[2019-09-13 04:47] weng271190436 opened #304 "[Question] Can I do kubectl apply using this client library?"
I see a lot of Patch* methods. Can I use those as "kubectl apply"?

[2019-09-14 01:41] #277 closed

[2019-09-16 23:30] pawelpabich commented on #290
Same here. It works on Windows 10 but fails on Windows 2012 R2. The app is .NET Core 2.2.
Any idea what that might be?

[code]

[2019-09-17 01:09] pawelpabich commented on #290
It looks like the set of ciphers that K8s API endpoint accepts is very limited:

![image](https://user-images.githubusercontent.com/347637/65003351-8342c600-d93b-11e9-9f3f-5bc9c49dae9f.png)

[2019-09-19 21:51] brendandburns commented on #304
No, kubectl apply was traditionally client side.

This has moved to server side (https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply)

But it only hit beta in 1.16.

When we regenerate for 1.16 we should be able to do it in the library.

[2019-09-19 21:53] brendandburns commented on #303
I want to make sure that we continue to support Mono/Xamarin.

And if I remember correctly there were challenges with .net standard and SSL certificate handling.

But in general, I the goal would be a minimal set that spans all relevant use cases (Framework, Core and Mobile)

[2019-09-22 19:06] #278 closed

[2019-09-24 04:33] #279 closed

[2019-09-25 12:43] JoelOtter opened #305 "Why do the Patch*CustomObject* methods use Merge Patch headers?"
Hi folks,

We've been trying to use the `PatchNamespacedCustomObject` method to modify some fields in a CRD instance. This throws an error, as we're sending a `V1Patch` but these methods set the header to `merge-patch+json`, thus k8s can't unmarshal it at the other end. All the other Patch methods we can see use `json-patch+json`.

What is the rationale behind having these methods send a different

[2019-09-25 15:15] kollerdroid opened #306 "CPU Usage Info"
I would like to get an average percentage value of the CPU usage from the cluster.

I tried to get some info from node status but all I found is capacity and allocatable CPU (core count).

I have also not found in pod status. (eg. CPU Requests)

I think I need something like that the output of
`kubectl describe node <nodename>`

Is there a way to get CPU usage info for the cluster (or the CPU Requ

[2019-09-26 04:37] Incarnation-p-lee opened #307 "[Kuberenetes Client] The constructor of kubernetes may referenced to null HttpClientHandler"
The constructor will invoke InitializeFromConfig, and the method will reference to `HttpClientHandler` from base class `ServiceClient`.

[code]

But the related constructor of base class `ServiceClient` only create new handler only if client is null, so there may be one path that makes `HttpClientHandler` to be null.

[code]

https://github.com/Azure/azure-sdk-for-net/blob/45cdad6bc3f20b36220d303a

[2019-09-27 03:52] brendandburns commented on #305
There's a patch example here:

[2019-09-27 03:56] brendandburns commented on #307
That seems like a bug in the code that should be fixed in the AutoRest codebase, or we should work around in our code...

Do you want to file a bug on the autorest code?

[2019-09-27 20:18] brendandburns commented on #306
The go code in the kubectl client calculates that from the Node object. See a similar ask here:

https://github.com/kubernetes-client/java/issues/717#issuecomment-535774658

Closing since the question is answered. If you want to reopen please use the `/reopen` command in a comment.

[2019-09-27 20:19] #306 closed

[2019-09-29 07:04] Incarnation-p-lee commented on #307
I think it can be fixed by autorest part, as this file is auto-generated.

[2019-09-30 07:47] #299 closed

[2019-09-30 07:53] #297 closed

[2019-09-30 15:55] bruno-garcia opened #311 "Rename repo from csharp to dotnet"
I believe a more appropriate name for this repo would be: `dotnet`.

The reasoning behind it is that although the language used to write it was C#, it serves as a .NET client. That is, it will be used by F#, VB and any other CLS language. Similarly the `javascript` repo is written in TypeScript. But regardless of the language, it's serves as the JavaScript client.

[2019-09-30 22:00] brendandburns commented on #311
I totally get where you're coming from.

It was discussed when we created this repo, I don't think it's worth churn at this point, but we could update the README/links in k8s.io to show that it works with F#, etc.

[2019-09-30 22:00] brendandburns commented on #307
Ok, I'm going to close this. Once the AutoRest generator is fixed, it should get picked up here automatically....

If you want to reopen this for some reason, please use the `/reopen` bot command.

[2019-09-30 22:01] #307 closed

[2019-09-30 22:09] bruno-garcia commented on #311
Thanks for replying. I believe F# and VB developers would expect it to work with their languages since the vast majority of libraries in the .NET ecosystem are actually written in C#. Perhaps an F# or VB devs would be willing to contribute with samples.

Also, perhaps it's worth noting that GitHub creates a redirect from the old name to the new.
But if this was discussed and yet you prefer(?) to k

[2019-10-02 04:43] brendandburns commented on #311
fwiw, (just for clarity) I don't really care one way or the other, and I can see the argument for `dotnet`

But the names of these repos were decided by the Kubernetes SIG-API group, so any changes to the names needs to go through them. I don't really have the cycles to do that myself at this time, but if you wanted to propose it and work through the SIG to get it approved, that's 100% fine with m

[2019-10-02 20:52] tg123 commented on #303
@brendandburns

<https://docs.microsoft.com/en-us/dotnet/standard/net-standard>

IMHO, we should target `.netstandard` only for all platform

[2019-10-09 14:13] JoelOtter commented on #305
Thanks @brendandburns - that example uses `PatchNamespacedPod`. My question is about the `PatchNamespacedCustomObject` method, which sets a different header to the former.

[2019-10-10 11:01] #272 closed

[2019-10-14 17:27] darobs commented on #295
Yes, there are methods for CRDs. Look for `CreateCustomResourceDefinition` and so on. CRDs are always cluster-level objects, so there are no "namespaced" methods.

Once you create a CRD, you can manage custom objects. Those methods are all named with "CustomObject" -  for example `ListNamespacedCustomObject`.  They accept and return "object" types, which are implemented as a Newtonsoft `JObject`.

[2019-10-17 19:07] sadedil commented on #295
Thanks @darobs,

I'll check this.

[2019-10-17 19:07] #295 closed

[2019-10-25 23:10] raylinz1 opened #315 "AKS: Config made with KubernetesClientConfiguration.InClusterConfig() authenticates but is Forbidden"
Wrote a quick app that tracks the stability of pods being created and destroyed in our AKS environments. When my .kube/config is set to my AKS instance and I run on my local machine with the client config built from KubernetesClientConfiguration.BuildConfigFromConfigFile(); everything runs great. When I publich my container to the ACR and deploy to my pod, the client config built from KubernetesCl

[2019-10-27 14:28] Yagil1990 opened #316 "Applying a new Kubernetes context to local Kubeconfig file"
Hi,
I have a K8SConfiguration object of a new Kubernetes context (of an AKS cluster), and I want to set it to the local Kubeconfig file (and overwrite existing context if exists), just as the "az aks get-credentials --overwrite-existing" does.

Is there a way (or any future task) to perform it using Kubernetes-client ?

Thanks,
Ran.

[2019-10-28 18:22] alexanderboswell opened #317 "Nuget package is not getting built for all target frameworks"
In the [project file](https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/KubernetesClient.csproj), net452 is listed as a target framework but when viewing the published package it is not listed as being supported:
![image](https://user-images.githubusercontent.com/21343215/67705723-c8afd580-f974-11e9-959c-3b0f9c474e09.png)

It looks like in the [project file](https://gith

[2019-10-28 23:19] brendandburns commented on #315
By default the `InClusterConfig()` uses the default `serviceaccount` for the Pod. This error means that that service account doesn't have the right RBAC.

For more details on service accounts and RBAC, please see this section:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

and this on RBAC:
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-

[2019-10-28 23:21] brendandburns commented on #316
Not currently supported, but I'd be happy to have a PR adding support for writing a K8SConfiguration object to file.

[2019-10-29 00:57] tg123 commented on #317
This is because the project is built on linux.
Github Action is a better place to have the build run where Windows is supported

[2019-10-29 03:21] brendandburns commented on #317
Yeah, we should migrate to github actions...

[2019-10-29 15:39] mrbobbytables opened #318 "Clean up outside collaborators"
Hey there @kubernetes-client/csharp-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their

[2019-10-29 17:23] raylinz1 commented on #315
Thanks Brendan! I was able to find that I needed a clusterRoleBinding to resolve my issue.

Much appreciated.

Snippet for resolution from RBAC service account permissions that resolved my issue:

kubectl create clusterrolebinding add-on-cluster-admin \
  --clusterrole=cluster-admin \
  --serviceaccount=kube-system:default

[2019-10-29 17:23] #315 closed

[2019-10-29 19:09] tg123 commented on #318
Thanks for inviting.
I am happy to join the org

https://github.com/kubernetes/org/issues/1351

[2019-10-29 19:17] krabhishek8260 commented on #318
I have replied on the above open issue.

[2019-10-29 20:55] mrbobbytables commented on #318
Thanks!

[2019-10-31 11:57] mateusz-lipowski opened #319 "While providing certificates, client keeps using anonymous auth"
I'm attempting to replace token auth with certificates, but API is responding with `{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods is forbidden: User \"system:anonymous\" cannot list resource \"pods\" in API group \"\" in the namespace \"domvi-test-appservice\"","reason":"Forbidden","details":{"kind":"pods"},"code":403}`.

I'm sure that cerificate is valid and

[2019-11-04 00:12] brendandburns commented on #319
Can you try loading the `${KUBECONFIG}` file that works for `kubectl` using the `KuberentesClientConfiguration.BuildConfigFromConfigFile(...)` function?

If that works, then you need to figure out what is different between the code that you have above and the code that is called in that function.

If that _doesn't_ work, then please file a new issue, because we should be able to load any file that

[2019-11-04 07:11] mateusz-lipowski commented on #319
Using `KubernetesClientConfiguration.BuildConfigFromConfigFile` gives exactly the same result. I guess that config loading works properly and certificate is the only issue. I also tried many other ways to load config, like putting config yaml in string and reading it or using `KubernetesClientConfiguration.BuildConfigFromConfigObject` with manually populated object.

My config is essentially copy-

[2019-11-04 09:55] mateusz-lipowski commented on #319
I did some more testing and it seems to be an issue with the way HttpClient sends certificates. According to various sources, following code should send certificate:
[code]

But the result is the same as for kubernetes-client: 403 Forbidden. I think .pfx file is being loaded, because it checks password and passing an incorrenct one throws an exception. I also tried to send the request with Postman

[2019-11-04 17:58] mikedanese commented on #293
/lifecycle frozen

[2019-11-04 22:42] brendandburns commented on #319
Can you try it without a .pfx? (does kubectl even know how to deal with a pfx?)

The pfx conversion code in the client is likely suspect...

[2019-11-05 07:02] vinisoto commented on #305
@brendandburns,

The problem here is that `PatchNamespacedCustomObject` always fails with:

The reason is that, as @JoelOtter explained, `PatchNamespacedPod` always sets the PATCH type as "merge" by adding this header to the PATCH HTTP request:

`_httpRequest.Content.Headers.ContentType=System.Net.Http.Headers.MediaTypeHeaderValue.Parse("application/merge-patch+json");`

Which is the equivalent of

[2019-11-05 08:35] mateusz-lipowski commented on #319
Using instance of `X509Certificate2` based on PEM cert has the same effect. I analysed TLS handshake for Postman and dotnet using wireshark and there are diferrences - dotnet sends empty certificate.

I also tried running the sample dotnet app on linux, the same result for both .pfx and .crt. Tried installing certificates in windows store, that also didn't help. There must be some detail in dotnet

[2019-11-05 10:51] mateusz-lipowski commented on #319
So I finally figured it out. It was indeed dotnet issue.

**In short**: if you use X.509 Extension `keyUsage`, you must add flag `digitalSignature`, otherwise dotnet will silently ignore the certificate.

It's absurd that the certificate will be ignored silently, especially that this flag is **not** required by kubectl and Postman. I figured it out by debugging HttpClient source code, part that ca

[2019-11-07 02:16] tg123 opened #320 "Enable github Action for repo"
to migrate build from Azure Devops and travisci

[2019-11-07 19:19] brendandburns commented on #319
Thanks for the detailed debugging here! I will dig in and try to make this error more clear to users.

Separately, it seems like filing a bug on the dotnet team may be a good idea.

Thanks again for the investigation here!

[2019-11-08 21:36] alexanderboswell opened #321 "IsInCluster() returning false when in cluster"
This is related to the closed issue #285 .

I have my dotnet app running in the cluster on a Windows Server 2019 node. I am getting a `unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined` when using `KubernetesClientConfiguration.InClusterConfig();`. From reviewing how the client works this error is thrown when IsInCluster() is false.

I hav

[2019-11-09 00:18] brendandburns commented on #320
I filed https://github.com/kubernetes/org/issues/1405

[2019-11-09 00:22] brendandburns commented on #321
So, I notice that the path in that code uses forward slashes. I wonder if dotnet on windows doesn't like such paths? That's my best guess.  I will send a PR to fix that and see if it fixes this for you.

[2019-11-09 00:27] alexanderboswell commented on #321
I think I might have found the issue, let me test and report my findings.

[2019-11-09 00:32] brendandburns commented on #321
ok, thx

[2019-11-11 06:40] brendandburns commented on #319
I sent #322 to try to catch this situation and throw instead of being silent.

Please take a look if you get a chance.

Thanks!

[2019-11-11 22:02] brendandburns commented on #321
Any updates here? Thanks.

[2019-11-11 22:05] alexanderboswell commented on #321
I am running my service as the Windows account 'NT AUTHORITY\NETWORK SERVICE' which would have admin privileges also. It seems it doesn't have access to those environment variables by default. Do you know under what context those files are added and environment variables are set for a Windows node?

[2019-11-11 22:07] #321 closed

[2019-11-11 22:08] alexanderboswell commented on #321
This doesnt seem to be an issue with the client, but related to how the Windows node is setup with the service account information.

[2019-11-11 22:15] brendandburns commented on #321
ok, can you follow up w/ SIG-Windows on Kubernetes Slack to see how the node is setup?

Thanks!

[2019-11-11 22:33] PatrickLang commented on #321
@alexanderboswell - Kubernetes only sets environment variables on the entrypoint process for the container. They're not available to background services. Can you try creating a wrapper script that:

1. Sets these with `[System.Environment]::SetEnvironmentVariable('key', 'value',[System.EnvironmentVariableTarget]::Machine)`
2. Then calls Start-Service

[2019-11-12 01:50] Jman012 commented on #290
I am experiencing the exact same scenario.

Server:
- TLS 1.2 only
- TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
- TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
- TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
- TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
- https://www.ssllabs.com/ssltest/analyze.html?d=api.uat.equifax.com

Clients:
- Windows 10 1903, .NET Core 2.2 (works)
  - Has all four cipher suites
- Windows Server 2012 R2,

[2019-11-12 16:00] kagoyal opened #325 "Cordon Node method missing?"
I can find delete node, but not cordon node in library.

[2019-11-12 18:23] alexanderboswell commented on #321
Just a follow up, I was successful in setting these environment variables in the start script for a container as Patrick outlined.

[2019-11-13 03:11] brendandburns commented on #325
Cordon isn't an API call. It's a series of API calls.

The relevant Go code is here:
https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/drain/drain.go#L352

You will need to write equivalent logic using the API calls.

If you do write the code and want to contribute, we'd gladly take a PR adding support for cordon.

[2019-11-13 03:11] #325 closed

[2019-11-18 09:46] mszynka commented on #304
@brendandburns can we "regenerate" and get access to "kubectl apply" in the library?

[2019-11-22 04:29] #319 closed

[2019-11-26 19:56] JulianBirch opened #327 "Feature: Data types for Istio and Extensions"
Self explanatory: there's quite a few Kubernetes objects one might wish to control that aren't part of this or any other* .NET API right now.

[2019-11-27 06:23] brendandburns commented on #327
The story in general for generating code for non-core objects isn't great.

In general the https://github.com/kubernetes-client/gen repository should be capable of generating clients that are compatible with this library, but the instructions for how to do that are largely non-existent.

I'll think and see if there isn't a better way to accomplish this.

[2019-11-29 09:05] BenRoberts86 opened #328 "Include net452 to KubernetesClient NuGet package"
We are trying to run `KubernetesClient` under mono however we are hitting the issue that `HttpClientHandler.ServerCertificateCustomValidationCallback` is not implemented, so cannot use the `netstandard2.0` package version. The code has a path for `NET452` but the package doesn't seem to be published to NuGet, please can this be added?

It seems some work was done previously to enable this via Azur

[2019-11-29 13:34] #288 closed

[2019-11-30 00:36] tg123 commented on #328
the `push to nuget` part is not yet enabled, please allow us some time to have it done

[2019-12-01 14:08] mrbobbytables commented on #318
Permissions have been cleaned up.

@itowlson  -- Please go ahead and file for [org membership](https://github.com/kubernetes/community/blob/master/community-membership.md#member) and we can pursue adding you the appropriate groups for repo permissions 👍

If you have any questions, please don't hesitate to reopen or ping me on slack.

Thanks!
/close

[2019-12-01 14:08] #318 closed

[2019-12-03 05:17] idubnori opened #329 "Not applied patch if path contains Uppercase"
### Repro code, Cause and Workaround
[code]
 - Latest `Microsoft.AspNetCore.JsonPatch` had been resolved this issue.
 - Will PR later.

[2019-12-03 13:41] gittadesushil opened #331 "Question: Is it possible to list pods associated with given service?"
I have use case:
I need to find out the pods associated with x service. I tried to look them using labels but always it's not feasible.

[2019-12-06 01:40] brendandburns commented on #331
List pods with labels should be possible.

Can you send the code you are trying and describe what's not working correctly?

Thanks!

[2019-12-06 01:42] #329 closed

[2019-12-18 04:47] BrandonSharp opened #335 "NullReferenceException thrown by Kubernetes.InitializeFromConfig when initialized with HttpClient"
When creating a new client instance by passing in an `HttpClient`, a `NullReferenceException` is thrown by the `InitializeFromConfig` method because the `HttpClientHandler` property is null. This can be demonstrated by attempting to run the httpClientFactory sample in the `examples` folder.

Full stack trace:
[code]

This is likely related to #307, where it was suggested that a fix to the AutoRest

[2019-12-22 17:32] nikunjbanker opened #338 "Does not support multiple resources in one yaml file (separated by ---), load multi yaml documents from a single file - Yaml.loadAll() method"
Does not support multiple resources in one yaml file (separated by ---), which is quite common in daily use.

So do you get any plan for this? Its there in JAVA client library - https://github.com/kubernetes-client/java/pull/207

Thanks.

[2019-12-24 20:23] sadedil opened #339 "Again: KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined"
I know this is same with the #285, but there is something strange about the **v1.6.8**.

Today I've update *KubernetesClient* Version from **1.6.5** to **1.6.8**, then I've started to receiving this error. Then rollback and problem solved.

I've checked (with `env` command) the all other pods, all of them has *KUBERNETES_SERVICE_HOST* and *KUBERNETES_SERVICE_PORT* environment variables. No problem

[2019-12-25 10:21] rkttu opened #340 "Configuration deserialization fail when using EKS configuration file"
When I try to load EKS modified configuration file with the below code, Yaml parser exception throwed.

**Source code**

[code]

**YAML file**

[code]

[2019-12-27 08:31] svenso opened #341 "InClusterConfig no more working on non-root workdir"
This change (06380095b46bc20463cf39d59e15fd5f69850a51) changes the path.

In Linux it looks now like:
"var/run/secrets/kubernetes.io/serviceaccount/"
before it was:
"/var/run/secrets/kubernetes.io/serviceaccount/"
--> Notice the missing forwarding slash at begin.

If an application is not running in the root directory, IsInCluser and InClusterConfig won't work anymore.

In addition, the path on wi

[2019-12-29 20:24] #291 closed

[2019-12-30 17:12] BrandonSharp commented on #335
Should be fixed by #336

[2019-12-31 16:38] darobs commented on #341
Just tried to update my project to 1.6.8 and ran into this problem as well.

[2019-12-31 18:06] darobs commented on #341
Made a PR: #342

[2020-01-02 08:48] #292 closed

[2020-01-04 10:11] MortenMeisler opened #343 "Port-forward strange.."
There's something not quite working in the [port-forward example](https://github.com/kubernetes-client/csharp/blob/master/examples/portforward/PortForward.cs), does anyone have something that is equivalent of doing this:
`kubectl port-forward jupyter-notebook-pod-123 8888:8888 -n default` ?

When I try to launch a jupyter workbook pod the UI is not fully loaded, ex. you cannot make a new Python3 n

[2020-01-04 19:46] #296 closed

[2020-01-06 01:38] rynowak commented on #341
+1 for this as an issue. I've reproduced this as well.

My app is running from `/app` and `IsInCluster` isn't behaving correctly.

I got the `unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined` error and investigated what `IsInCluster` does. My app is able to print the environment variables of interest  and can read the token/ca.crt given h

[2020-01-06 06:56] NitinM3 commented on #341
Ran into problem as well. Seems like issue with **InClusterConfig**. Downgrading to **1.6.6** resolves the issue.

[2020-01-06 13:17] gittadesushil commented on #331
Yes I list the pods using labels. Tat's working fine.

[2020-01-06 13:17] #331 closed

[2020-01-06 20:44] brendandburns commented on #339
Is this on Windows or Linux?

[2020-01-06 20:46] brendandburns commented on #340
The YAML parser doesn't like unknown fields. I'll look at the code to see what is missing.

[2020-01-06 20:47] sadedil commented on #339
Linux containers

[2020-01-06 20:47] brendandburns commented on #339
Looks like this might be the same as #341 ? Does it work if you downgrade to 1.6.6?

Thanks

[2020-01-06 20:49] sadedil commented on #339
Didn’t try with 1.6.6. But downgrade to 1.6.5 solved the problem.

[2020-01-07 05:28] #335 closed

[2020-01-07 05:30] brendandburns commented on #339
Ok, I think this is the same as #341

We merged a fix in #342 which is now in `1.6.9` so it would also be interesting to see if `1.6.9` works for you also.

Thanks

[2020-01-07 05:31] brendandburns commented on #341
This fix was merged into release `1.6.9` can someone validate if that indeed fixes what they were seeing?

Thanks!

[2020-01-07 06:38] sadedil commented on #339
Hi @brendandburns

I've updated to 1.6.10 and it works as expected.

Thanks for the solution.

[2020-01-07 06:38] #339 closed

[2020-01-08 00:04] darobs commented on #341
I updated to 1.6.10 and I am no longer seeing the error.

[2020-01-08 17:51] brendandburns commented on #341
Great to hear, closing this issue.

[2020-01-08 17:51] #341 closed

[2020-01-08 19:05] brendandburns commented on #340
Ah, I looked into this, the client library doesn't currently support the ExecProvider interface:

https://github.com/kubernetes/client-go/blob/a56922badea0f2a91771411eaa1173c9e9243908/rest/config.go#L89

Looks like EKS is the only one that uses this interface (or at least the only one I've heard about)

We'd be happy to take a PR to add this support. You'll need to implement it here:

https://gith

[2020-01-08 19:07] brendandburns commented on #343
Have you looked at the errors in the Javascript console? It would be interesting to understand if this is a Web/Browser issue or if this is something in the port forwarding itself.

The fact that it at least partially loads makes me believe that port forwarding is working correctly (or at least partially working)

[2020-01-08 19:08] brendandburns commented on #338
fwiw, this was really annoying to implement in the Java library, you have to have a map from apigroup/kinds -> concrete types to do this right.

I will add something manual as a start.

[2020-01-09 00:08] rkttu commented on #340
Thanks for your comment. I'll try to implement it and send PR soon.

[2020-01-09 05:44] brendandburns commented on #338
I added a simplified implementation here:

https://github.com/kubernetes-client/csharp/pull/344

It's a starting point. We can expand it to automagically find all of the apigroup -> Type mappings via reflection like Java does.

[2020-01-10 21:59] #338 closed

[2020-01-10 22:16] brendandburns commented on #338
There is code for this merged in `1.6.11` see this example:

https://github.com/kubernetes-client/csharp/blob/master/examples/yaml/Program.cs

[2020-01-11 18:21] GillesTourreau opened #346 "V1DeploymentSpec.Validate() method do not validate missing "metadata.name" field"
The `V1DeploymentSpec.Validate()` method do not validate the required "metadata.name" or `metadata.generatedName` fields for `Deployment` objects.

For example, the following code do not raise a `ValidationException`:

[code]

For information, if I post the deployment spec with client API on the k8s cluster, an `HttpOperationException` is raise with this generic message:
`Operation returned an inv

[2020-01-12 13:36] MortenMeisler commented on #343
Thanks for helping @brendandburns, I don't really get any special errors related as far as I can see.

This is a screenshot from the output:
![image](https://user-images.githubusercontent.com/17620242/72219559-abd47880-3547-11ea-8bd0-d14537e42d3f.png)

This is a screenshot of the same running using kubectl port-forward:
![image](https://user-images.githubusercontent.com/17620242/72219590-079f0180-

[2020-01-13 04:55] brendandburns commented on #346
The validation code is generated from the swagger/open api spec. I don't think the spec is complete (nor would I expect it to be complete)

I don't think you can rely on `Validate()` to really validate that the object is acceptable to the server.

If there is any work to do, it would be in the upstream Kubernetes open API specification, not this client.

Consequently I'm going to close this issue.

[2020-01-13 04:55] #346 closed

[2020-01-19 20:53] macsux opened #349 "JSON Schema object does not allow multiple types"
V1beta1JSONSchemaProps.Type property is a string. This is not correct, as per JSON Schema spec you can specify an array of values. A very common one is to specify `type: ["null","string"]`.

See https://json-schema.org/understanding-json-schema/reference/type.html

If it’s a string, it is the name of one of the basic types above.
If it is an array, it must be an array of strings, where each string

[2020-01-19 21:41] macsux commented on #349
Just realized that according to OpenAPI this is in fact a valid restriction. Closing

[2020-01-19 21:41] #349 closed

[2020-01-28 22:09] #301 closed

[2020-01-30 09:35] aloneguid opened #352 "BuildConfigFromConfigFile() hangs"
The static methods on `KubernetesClientConfiguration` like `BuildConfigFromFile` are hanging when using from certain environments where SynchronisationContext is not default. For instance WPF, Xamarin etc. Specifically on any line that uses `.GetAwaiter().GetResult();`.

Could you provide true async methods where you are waiting for operation result?

[2020-01-31 00:46] brendandburns commented on #352
Just for clarity, you're looking for something like:

[code]

[2020-01-31 13:53] aloneguid commented on #352
Correct. Going further, in my opinion there should be no code relying on `.GetResult()` as it's potentially deadlocking. If users of this library want to be synchronous they are always welcome to introduce locking themselves.

[2020-02-06 05:26] brendandburns commented on #352
I added the async methods. Since the sync methods are part of the existing contract, it's a breaking change to remove them, so I kept them as well.  Seems like a decent balance.

[2020-02-06 13:25] adasseville opened #354 "Login using an aad service account on an aad integrated aks"
Hi,

Based on [this](https://github.com/kubernetes-client/csharp/issues/235#issuecomment-468483566) #235 comment, I'm trying to connect to an aad integrated aks instance. For a non aad integrated cluster this works fine, but for an aad integrated cluster the kubeConfigFileContent generated by the code snippet below is missing the "access-token" config key in the azure auth-provider section.

[code

[2020-02-06 16:01] aloneguid commented on #352
Thank you, looks good :)

[2020-02-06 16:30] #316 closed

[2020-02-06 23:24] brendandburns commented on #354
Do you have a kubeconfig file that works with `kubectl`?

If you use that kubectl file with this client it should all work correctly.

That's the best tested path.

Let me know if that doesn't work, or if there are more questions.

[2020-02-07 08:38] adasseville commented on #354
Yes I have a kubeconfig working with a named aad "user" (by using az aks get-credentials), but not for a service principal. I did not succeed in creating one with the service principle for the azure auth-provider containing an access token.

[2020-02-07 18:13] brendandburns commented on #354
Ah, yes, I missed the Service Principal part. AAD + Kubernetes doesn't currently support service accounts unfortunately, it only supports interactive login.

We're working on improving that in the upstream Kubernetes.

[2020-02-07 18:14] brendandburns commented on #352
Can you put an LGTM on the PR? Then we can get it merged.

Thanks!

[2020-02-09 21:17] #352 closed

[2020-02-10 11:05] adasseville commented on #354
Thanks @brendandburns
Any way I can track progress on that feature(request) ?

[2020-02-10 17:26] DotNetRockStar opened #355 "How to add proxy credentials"
I am having an issue right now where the client is attempting to make a request to the k8s cluster and fails due to proxy authentication issues.  How can I go about adding proxy credentials into the client so that the calls to k8s api do not fail.

[code]

Thanks in advance.

[2020-02-11 19:53] brendandburns commented on #355
You can pass an `HttpClientHandler` into the Client constructor which has the `HttpClientHandler.DefaultProxyCredentials` set properly.

You can use `KubernetesClientConfiguration.CreateDefaultHttpHandler()` (https://github.com/kubernetes-client/csharp/blob/3a30033090e6866a4050b4cc68cebd2ee228bb12/src/KubernetesClient/KubernetesClientConfiguration.HttpClientHandler.cs#L7) to create a starting poin

[2020-02-11 19:57] brendandburns commented on #354
You can file an issue here:
https://github.com/Azure/AKS

If you'd like, please reference this issue in that one.

[2020-02-11 20:05] DotNetRockStar commented on #355
This is perfect. Thank you!

[2020-02-11 23:48] lolodi commented on #352
Thanks for your timely fix I was able to get unblocked but looking at the rest of the code it looks like the default behavior is to use `.GetAwaiter().GetResult();` everywhere, even in the generated code.
This can create deadlocks if the consumer has its own SynchronizationContext as pointed out by @aloneguid. As I was reading [here](https://medium.com/bynder-tech/c-why-you-should-use-configureawa

[2020-02-12 00:20] pragyamehta opened #356 "Upgrade Microsoft.AspNetCore.WebUtilities from version 1.1.2 to 2.2.0"
I am working on a project targeting netstandard2.0 that takes a dependency on KubernetesClient. My project directly references Microsoft.AspNetCore.WebUtilities Version 2.2.0, but KubernetesClient references version 1.1.2.
I need to package my project as a nuget package and provide it to a consumer. If I add the version 2.2.0 in the nuspec file while creating the nuget package, KubernetesClient fa

[2020-02-12 00:28] pragyamehta opened #357 "Build fails on VS Enterprise 2019 Version 16.4.5"
**The TargetFramework value 'xamarinios10' was not recognized. It may be misspelled. If not, then the TargetFrameworkIdentifier and/or TargetFrameworkVersion properties must be specified explicitly.

The TargetFramework value 'monoandroid81' was not recognized. It may be misspelled. If not, then the TargetFrameworkIdentifier and/or TargetFrameworkVersion properties must be specified explicitly.**

[2020-02-12 00:37] brendandburns commented on #352
The generated code is generated by the AutoRest tool:

https://github.com/Azure/autorest

The fixes would need to come from there.

--brendan

________________________________
From: Lorenzo <notifications@github.com>
Sent: Tuesday, February 11, 2020 3:48 PM
To: kubernetes-client/csharp <csharp@noreply.github.com>
Cc: Brendan Burns <bburns@microsoft.com>; Comment <comment@noreply.github.com>
Subjec

[2020-02-12 16:56] adasseville commented on #354
Thanks for your feedback.
I ended up voting on the feature request here: https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35146387-support-non-interactive-login-for-aad-integrated-c

[2020-02-12 16:56] #354 closed

[2020-02-12 17:31] lolodi commented on #352
I see. But even without the AutoRest changes, it is possible to avoid binding on the caller SyncronizationContext and expose more async APIs. There is an interesting article [https://devblogs.microsoft.com/dotnet/configureawait-faq/](https://devblogs.microsoft.com/dotnet/configureawait-faq/) and running the underlying async operation in a `Task.Run().GetAwaiter().GetResult()` should be enough to g

[2020-02-12 19:53] brendandburns commented on #356
I'm ok with this. Can you send a PR?

[2020-02-12 19:54] brendandburns commented on #355
Closing this issue, since I think the question is answered. Please use the `/reopen` command to reopen if necessary.

[2020-02-12 19:54] #355 closed

[2020-02-12 20:30] pragyamehta commented on #356
Yes, absolutely! Thanks for agreeing with this change :)

[2020-02-13 21:36] pragyamehta commented on #356
https://github.com/kubernetes-client/csharp/pull/358
Here is the PR. I am unable to link this issue in the PR unfortunately.

[2020-02-14 00:55] pragyamehta commented on #356
@brendandburns thanks for accepting the PR. I'm not familiar with the nuget release cycle. When will a new nuget package be released?

[2020-02-14 01:46] brendandburns commented on #356
The ci/cd system automatically pushes a new nuget package it should be there shortly.

--brendan

________________________________
From: Pragya Mehta <notifications@github.com>
Sent: Thursday, February 13, 2020 4:55:57 PM
To: kubernetes-client/csharp <csharp@noreply.github.com>
Cc: Brendan Burns <bburns@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes-client/csharp] Up

[2020-02-14 04:08] brendandburns commented on #357
I admit I don't really use VS Enterprise so I'm not sure I can help with this. If you figure it out, I'm happy to take a PR to fix the .sln/.csproj files.

[2020-02-14 07:53] tg123 commented on #357
you may want use dotnet build to avoid this
@brendanburns I suggest to remove those targets as in #345 they are never in our nuget package and covered by netstandard

the reason they were introduce is to support ssl and websocket on those platfrom

[2020-02-15 05:34] brendandburns commented on #357
@tg123 does that mean that a Xamarin user can use the `netstandard` nugets from mobile?

[2020-02-15 05:34] brendandburns commented on #356
Closing since #358 has merged.

[2020-02-15 05:34] #356 closed

[2020-02-15 06:05] tg123 commented on #357
@brendanburns
Yes
https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/net-standard
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

I am happy to reforge the targets if you approve

[2020-02-16 01:57] brendandburns commented on #357
@tg123 sure, that sounds great, thanks.

[2020-02-16 17:20] Jman012 commented on #290
I resolved this by toggling some of the Windows Server security settings for ciphers on and then off, and then restarting the server. The image that the server was based off of likely had wrong defaults.

[2020-02-20 10:40] alecor191 commented on #290
@Jman012 were you able to identify what security settings were required to get this working?

[2020-02-20 13:40] talboren commented on #340
@rkttu please refer to https://github.com/kubernetes-client/csharp/pull/359 and see if there's anything you can contribute / improve.

Thanks!

[2020-02-20 14:00] rkttu commented on #340
I’m closing this issue because another contributor suggests related pull request. Thanks @talboren !

[2020-02-20 14:00] #340 closed

[2020-02-23 19:45] torjue opened #360 "Disposing Watcher throws System.IO.IOException"
When trying to dispose a `Watcher<T>`, using the following code and 1.6.12
[code]
the followng error is thrown:
[code]

My guesses are that the underlying `_streamReader` is closed while the `while` loop is running, so `_streamReader.ReadLineAsync()` fails. Moving the `cancellationToken.IsCancellationRequested` into the `while` loop (as the first condition) might do the trick?

https://github.com/

[2020-02-24 02:37] brendandburns commented on #360
We'd be happy to take a PR with this fix (and a test that validates it) but we'll also get to this eventually if you can't put a PR together.

[2020-02-24 10:18] tg123 commented on #360
it is by design

imagine that the code passed the first check you sugggest, `cancellationToken.IsCancellationRequested`, then runs into `ReadLineAsync`
you will still have this exception

[2020-02-24 14:11] torjue commented on #360
Not sure the scenario you mention will happen? As `Dispose` canceles the `cancellationTokenSource` before it disposes `_streamReader`?

I'll see what I'm able to do regarding a PR.

[2020-02-24 20:52] alexanderboswell commented on #317
/remove-lifecycle stale

[2020-02-26 12:30] #360 closed

[2020-02-27 23:06] brendandburns commented on #327
/lifecycle frozen

[2020-02-27 23:06] brendandburns commented on #317
/lifecycle frozen

[2020-02-29 15:53] bruno-garcia commented on #311
/reopen

@brendandburns I can try to attend a SIG meeting and bring this case in.
It's just a nice to have so if it's too much hassle to get it approved I'm happy to close this.

But a rename is simple and given that old links follow to the new repository name, I'm unaware of a reason not to do this.

[2020-03-01 00:40] #303 closed

[2020-03-03 06:36] IvanJosipovic commented on #305
I'm facing the same issue. Do you have a working example of PatchNamespacedCustomObject?

[2020-03-04 08:52] tg123 commented on #140
Hi @JonJam
I am trying to clean targets

Could you please confirm `netstandard2.0` works fine with your app?
I tested locally but I am new to xamarin not quite sure if I am doing right.

Testcases would be great

[2020-03-04 10:16] JonJam commented on #140
Hi @tg123,

The source for my app is here: https://github.com/JonJam/kubemob, although I am no longer maintaining it.

I can confirm it does work with netstandard2.0 as I am referencing this from a netstandard2.0 shared class library.

[2020-03-06 10:00] JochenGuck opened #362 "Some kubernetes objects do not implement IKubernetesObject"
I have found some Kubernetes objects which do not implement IKubernetesObject:
- Extensionsv1beta1Ingress
- Networkingv1beta1Ingress
I use the Kubernetes client  version 1.6.16-gb07e78afa4
Is this on purpose or a bug?

[2020-03-06 10:31] tg123 commented on #362
I checked the generator, it is a bug.
and fix is on the way

[2020-03-06 12:05] JochenGuck commented on #362
Thank you very much for the quick response to the issue

[2020-03-08 22:34] mitsuthar opened #363 "Watcher breaks after getting an event for an object with failure condition"
Here is how I am creating my watcher.

`var watcher = await kubernetesClient.ListNamespacedJobWithHttpMessagesAsync(
namespaceParameter: "mynamespace",
watch: true,
labelSelector: "label=value");`

`using (watcher.Watch<V1Job, V1JobList>(
onEvent: async (watchEventType, job) => await OnEvent(job),
onError: ex => OnError(ex, waitTokenSource),
onClosed: () => OnClosed(waitTokenSource)))`
`{ await Ta

[2020-03-08 22:55] brendandburns commented on #363
My guess is that this is a parse error of some sort. If you do a `GET` for the same failed job does it work? My bet is that it won't.

I'll take a look at the code and see if we should be handling the parse error better.

[2020-03-08 23:56] mitsuthar commented on #363
Hi @brendanburns thanks for the response.

"ListNamespacedJobAsync" works and I get all the jobs correctly
also
kubectl get jobs -n namespace --watch works fine.

For some reasons 'ListNamespacedJobWithHttpMessagesAsync' is taking more than 30 seconds to execute with only 3-4 jobs in the GKE cluster. Not sure if this is related.

[2020-03-09 00:45] #140 closed

[2020-03-09 00:51] tg123 commented on #363
hi
is `ListNamespacedJobAsync` slow too?

[2020-03-09 01:07] mitsuthar commented on #363
@tg123 ListNamespacedJobAsync is working fine. It takes ~1-2 seconds consistently.

[2020-03-09 05:38] #357 closed

[2020-03-09 17:30] mitsuthar commented on #363
I have some new information which could help with this issue.
When I ran 'kubectl proxy' locally and change the config to use the host on localhost, I got descriptive error.
- Newtonsoft failed at object.spec.template.spec.volume[2] for a missing '/'. (I did not copy the exact error and can not reproduce the issue at the moment).
- The volume has definition like below.
- name: mount-122
        nf

[2020-03-09 18:50] mitsuthar commented on #363
I reproduced the error with kube api (without this client library). So I think this is not an issue with this library.
`curl http://localhost:8001/apis/batch/v1/namespaces/dev/jobs\?labelSelector\=Environment\=Development\&watch\=true`
When running this command I received a broken json response and the connection crashed.

Broken response
`{"type":"ADDED","object":{"kind":"Job","apiVersion":"batch

[2020-03-09 19:43] mitsuthar commented on #363
So I have figured out the problem.
The problem was the reverse proxy I had in-front of kube api.
I needed to add "proxy_buffering off;" in my nginx reverse proxy configuration.
Thanks @tg123 @brendandburns for your time.

[2020-03-09 19:43] #363 closed

[2020-03-11 00:05] #320 closed

[2020-03-11 00:35] tg123 commented on #328
start at KubernetesClient 1.6.20
net452 was included

[2020-03-11 00:35] #328 closed

[2020-03-11 00:35] tg123 commented on #317
start at KubernetesClient 1.6.20
net452 was included

[2020-03-11 00:35] #317 closed

[2020-03-11 06:21] zhiweiv opened #368 "Feature: Add leader election"
Client go contains api for leader election(https://github.com/kubernetes/client-go/tree/master/tools/leaderelection),
there is also an implmentation in java client(https://github.com/kubernetes-client/java/tree/master/extended/src/main/java/io/kubernetes/client/extended/leaderelection).

Do we have plan to add it in C#?

[2020-03-15 08:28] CarlosLanderas commented on #368
I was going to add the same feature requests. I have just finised the first beta of the AspNetCore HealthChecks operator and I need leader election to be able to have several replicas:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/src/HealthChecks.UI.K8s.Operator

Is there any way to implement this with this client right no?.

Thanks!

[2020-03-16 02:53] jamesonatdell opened #371 "Null Reference Exception returned in creating new V1PersistentVolumeClaim"
I am running into an "Object reference not set to an instance of an object" exception when trying to create a new V1PersistentVolumeClaim object. I have compared it to my implementation in python, and it is the same code that works with the Kubernetes Python client. This happens locally and when deployed in Kubernetes.

I have checked over the K8s python client documentation as well, and I can't f

[2020-03-16 13:21] Stijn98s commented on #304
Is there any other option to apply a yaml file with this kubernetes client?

[2020-03-16 13:22] Stijn98s commented on #304
/remove-lifecycle stale

[2020-03-16 17:21] rynowak opened #372 "KubernetesClientConfiguration.BuildDefaultConfig() does not populate namespace of the current context"
I'm using `KubernetesClientConfiguration.BuildDefaultConfig()` to try and emulate things operations the user could do at the command-line (using their current context).

I noticed that I don't get the namespace populated in the config. In this case I would expect it to be set to `blazing-pizza` but I get back `null`.

[code]

My contexts:

[code]

[code]

What I've noticed about this is that I can

[2020-03-16 19:29] rynowak commented on #372
I'm working on a fix for this - and as part of that I'm wondering if the existence of `Context.Namespace` is a mistake (vs `ContextDetails.Namespace`).

For instance the golang client doesn't have this: https://github.com/kubernetes-client/go/blob/master/kubernetes/config/api/types.go#L148

[2020-03-17 16:48] #372 closed

[2020-03-17 20:46] brendandburns commented on #371
This is almost certainly a problem in JSON serialization.

Do you have a stack trace?

I will try to write a unit test that reproduces this.

[2020-03-17 20:57] #362 closed

[2020-03-17 21:08] jamesonatdell commented on #371
Thank you. That is very kind of you!

I had a feeling too. Here is ex.StackTrace:

"   at orchestrator.Controllers.WorkspaceController.CreatePVC(String name, String namespaceName, String storageType, Int32 storageSize, Kubernetes client) in C:\\code\\projectfolder\\orchestrator\\orchestrator.api\\Controllers\\WorkspaceController.cs:line 292"

Not too useful...here is the message:

"Object referenc

[2020-03-18 09:47] tg123 commented on #371
this is not stack from k8scharp any more trace?

[2020-03-18 13:14] jamesonatdell commented on #371
I'm unsure how to get a different trace, one I debug over this object it throws the exception, and I cann ex.StackTrace...is there a more robust trace method?

[2020-03-19 01:22] tg123 commented on #371
@jamesonatdell
could you please write a simple main only program which contains the code only that would reproduce your error?

then we can debug it and see what happen

[2020-03-19 01:49] narthollis opened #374 "Using List...Async(watch: true) with HttpClientFactory the .Watch callback is never invoked"
I have setup a `Kubernetes` using a `HttpClient` from `HttpClientFactory`, and called one of the `List...Async` methods, passing `watch: true`. i have then setup the the watch callback using the extension methods
`resp.Watch((eventType, resource) => _logger.LogInformation("{type}, {resource}", eventType, resource))`
However my callback is never invoked - even when I add/remove a matching resource

[2020-03-19 04:53] brendandburns commented on #374
Odd. Do you know that the `HttpClient` is doing authentication correctly? It's possible that authentication is failing (though I would think you'd see an exception)

[2020-03-19 05:14] tg123 commented on #374
this is because it installed an watcher http handler, `WatcherDelegatingHandler`, to the client kubernetes client created.
it is not possible to install it for a customize httpclient.

but anyway,
the client sdk did not provide any solution for customized httpclient to install watcher handler.

let me think how to make this smoothly and friendly to use a pre created httpclient.

[2020-03-19 05:19] narthollis commented on #374
I assume Auth is working as if i try a `List...Async` without `watch:true` I get the expected result.

Would it be possible to add the `WatcherDelegatingHandler` using https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.httpclientbuilderextensions.addhttpmessagehandler?view=dotnet-plat-ext-3.1 do you think?

[2020-03-19 05:35] tg123 commented on #374
@narthollis not really i think, that one is for client builder not the client

[2020-03-19 06:26] narthollis commented on #374
From what I can see it looks like `AddHttpMessageHandler` adds the callback to the `HttpMessageHandlerBuilderActions` collection on the `HttpClientFactoryOptions` for that named client.

This collection then appears to be read by HttpClientFactory for each HttpClient constructed

https://github.com/dotnet/extensions/blob/1286a6ff55e300352dabeb6d778c9fcdd258bd08/src/HttpClientFactory/Http/src/Defau

[2020-03-19 17:53] plisy opened #375 "ListNamespacedServiceWithHttpMessagesAsync with watch=true doesn't respect cancellation token with empty list"
When trying to watch for service based on fieldSelector and the service doesn't exist, cancellation token is not respected and the call hangs.

[code]

KuberneteClient version: `1.6.12`

_Edit: Added timeout for cancellation token cancellation._

[2020-03-19 19:20] tg123 commented on #375
not throwing 404?
I am going to test locally

[2020-03-19 20:08] plisy commented on #375
Unfortunately no, I think the watch param is causing it being stuck.

[2020-03-20 04:10] brendandburns commented on #375
I believe that this is the expected behavior. It's wait for you to potentially create a service that matches that selector.

[2020-03-20 04:12] plisy commented on #375
That's right the issue is that it doesn't respect the cancellation token, Once the cancellation token is cancelled, so should be the request.

[2020-03-20 11:33] tg123 commented on #375
the reason is that `StreamReader` does not take/support cancellation token.
I sent some workaround to make streamreader can handle such scenario.

BTW: typically, you may want to create a `watcher` with the response and would not notice something stuck inside the `watcher`

[2020-03-23 04:18] #375 closed

[2020-03-23 04:28] narthollis commented on #374
I have been able to confirm that using `.AddHttpMessageHandler(s => new WatcherDelegatingHandler());` resolves this issue.

I made a local clone of the repository and modified `src/KubernetesClient/WatcherDelegatingHandler.cs`, making `WatcherDelegatingHandler` public.

After building I used this local copy in my service and was able to use a HttpClientFactory constructed HttpClient and `List....A

[2020-03-23 04:53] tg123 commented on #374
or can you sent a PR let client library to handle it inside the library?

[2020-03-23 05:06] narthollis commented on #374
I could see doing this setup with an extension method on `IHttpClientBuilder`

something like

[code]

This would resulting in a dependency on `Microsoft.Extensions.Http`

Outside of this I am not sure how to get the `WatcherDelegatingHandler` into the HttpClient.

[2020-03-23 13:34] Bliamoh opened #380 "Errors and unexpected behavior with CustomObjects"
I'm trying to create a CRUD controller for CustomObjects. For the moment I can list and delete my CustomObjects but I'm having errors when using CreateNamespacedCustomObject() and PatchNamespacedCustomObject(). My CustomObjects are [ScaledObject from KEDA](https://github.com/kedacore/keda/blob/master/deploy/crds/keda.k8s.io_scaledobjects_crd.yaml).

### CreateNamespacedCustomObject():

Here is the

[2020-03-24 02:22] brendandburns commented on #380
I think this is due to case sensitivity. It should be `kind: foo` not `Kind: Foo`

[2020-03-24 09:16] Bliamoh commented on #380
Only my property name has a uppercase. When I serialize it in JSON I get this string which has keys in lowercase:
[code]
I also tried to put a string with keys in uppercase but I get the same error.
Here is my deserialized object, maybe it could help:

[code]

I'm using System.Text.Json.Serialization to manage my JSON serialization/deserialization but I also tried with Newtonsoft.Json but it didn'

[2020-03-24 15:06] brendandburns commented on #380
I was judging by the error message that you printed above:

[code]

In that error message, the field names are definitely capitalized, so perhaps the serialization isn't working as expected?

[2020-03-25 09:52] Bliamoh commented on #380
Ok I managed to fix my issue. Indeed it was a problem with capitalized fields and a misunderstanding of [this comment ](https://github.com/kubernetes-client/csharp/issues/295#issuecomment-541810513). I thought that CustomObject methods could accept object **OR** JSON string as parameter... My bad.

However, to fix my issue I had to rename all my properties with lowercase to match the case expected

[2020-03-25 10:33] andykernahan commented on #380
I suspect that Newtonsoft is not aware of the `JsonPropertyNameAttribute` and hence does not respect it.

Is it possible for you to use the Newtonsoft attributes instead? (see [`V1Pod`](https://github.com/kubernetes-client/csharp/blob/c48fc0dc562908e5eab78cb825b9a6a1240c2ea0/src/KubernetesClient/generated/Models/V1Pod.cs#L80) for example):
[code]
Newtonsoft also respects the data contract attribut

[2020-03-25 10:51] Bliamoh commented on #380
Yes that's what I just discovered. I don't know what I did wrong last time when I tried to use Newtonsoft.Json instead of System.Text.Json.Serialization but now it's working just fine! Looks like the attribut [System.Text.Json.Serialization.JsonPropertyName("kind")] is not supported by Newtonsoft.
Thx both of you for the help. I'm closing this.

[2020-03-25 10:51] #380 closed

[2020-03-25 16:10] andykernahan opened #381 "Watcher thread utilisation."
Currently each `Watcher` instance causes a thread to be blocked until the next `WatchEvent` is read from the HTTP connection. In a system where there are many `Watcher` instances, this may cause the number of threads to grow large.

I believe this behaviour is caused by `WatcherDelegatingHandler` (and its related types) not being asynchronous all the way. The following (abbreviated) call graph ill

[2020-03-25 17:03] tg123 commented on #381
PR is warmly welcomed

I checked the code
https://referencesource.microsoft.com/#mscorlib/system/io/textreader.cs,198

do you mean to replace the `textreader`?

[2020-03-25 18:54] tylerje opened #382 "Duplicate Null Check in WebSocketNamespacedPodExecAsync in Kubernetes.WebSocket.cs"
Line 65 has a duplicate null check for the command param. It can be removed given the same code is on line 55.

[2020-03-25 18:59] tg123 commented on #382
Yes it is
BTW Could you please send a PR for it?

[2020-03-25 19:01] tylerje commented on #382
Yes. Will have it submitted in a few minutes.

[2020-03-25 19:06] andykernahan commented on #381
I believe that we can retain the use of `TextReader`. However, as we [cannot](https://referencesource.microsoft.com/#mscorlib/system/io/streamreader.cs,792) derive from `SteamReader` introducing this issue, I propose we make `PeekableStreamReader` a decorator instead.

[2020-03-25 19:29] tylerje commented on #382
@tg123 I've submitted the PR but looks like LF not finding my user. Could be because the PR was created under my org "tylerjensen" rather than my personal GitHub account?

[2020-03-25 19:32] tg123 commented on #382
@tylerje
I think so.
`git amend` and `push -f`

[2020-03-25 21:25] tylerje commented on #382
@tg123 -- was able to resolve the CLA issue. It's ready for review now.

[2020-03-25 23:04] brendandburns commented on #382
Closing this issue since 384 merged.

[2020-03-25 23:04] #382 closed

[2020-03-27 17:53] ridhoq opened #387 "Environment variable values are not coerced to strings during serialization"
Hello, I am currently manipulating yaml configurations and ran into an issue where environment variable values containing ints and bools were not correctly being coerced to strings.

I have created a failing test case here: https://github.com/ridhoq/csharp/blob/201e2be09b1fb30fe86cc68ff65aaeb4f1141a21/tests/KubernetesClient.Tests/YamlTests.cs#L325

The test output results in:
[code]
In this case,